<div class="information_bar">
    <div ng-include="'components/profile/profile.html'"></div>	
</div>

<div class="side_bar">
    <div ng-include="'components/intervention/interventions.html'"></div>
    <div ng-include="'components/notes/notes.html'"></div>
</div>

<div class="main_content">

    <h2>{{'anc_visits'| translate}}</h2>
    <div ng-switch="dhis2Events.length">
        <div ng-switch-when="undefined">
            <p>
                {{'no_anc_visit_made'| translate}}
            </p>
        </div>
        <div class="list-group">
            <div ng-repeat="event in dhis2Events">	
                <a href="#/ancvisit?eventUid={{event.event}}&tei={{event.trackedEntityInstance}}" class="list-group-item" >{{event.name}} ({{event.eventDate}})</a>
            </div>
        </div>			
    </div>

    <div class="margin-top">
        <button ng-click="createNewANCVisit()" class="big-button lightblue">
            {{'new_anc_visit'| translate}}
        </button>
        <button ng-click="cancel()" class="big-button grey">
            {{'close'| translate}}
        </button>
    </div>

</div>