.ux-ic-icon-1 {
    background-image:url(ux-ic-icon-1.png) ! important;
}
.ux-ic-icon-2 {
    background-image:url(ux-ic-icon-2.png) ! important;
}
.ux-ic-icon-3 {
    background-image:url(ux-ic-icon-3.png) ! important;
}
.ux-ic-icon-4 {
    background-image:url(ux-ic-icon-4.png) ! important;
}
.ux-ic-icon-5 {
    background-image:url(ux-ic-icon-5.png) ! important;
}
.ux-icon-combo-icon {
    background-repeat: no-repeat;
    background-position: 5px 50%;
    width: 22px;
    height: 16px;
}
.ux-icon-combo-input {
    color: #fff;
    z-index: -1;
    padding-left: 8px;
}

.x-form-field-wrap .ux-icon-combo-icon {
    top: 3px;
    left: 5px;
}
.ux-icon-combo-item {
    background-repeat: no-repeat ! important;
    background-position: 5px 50% ! important;
    color: #eee;
}
