
<h3>$i18n.getString( "data_browser" ) #openHelp( "dataBrowser" )</h3> 

<form method="get" action="searchResult.action" onsubmit="return validate()">

<table>
	<tr>
		<th colspan="2">$i18n.getString( "period_type" )</th>
	</tr>
	<tr>
		<td colspan="2">
			<select id="periodTypeId" name="periodTypeId" style="min-width:325px">
				<option value="null">[ $i18n.getString( "select_period_type" ) ]</option>
				#foreach ( $type in $periodTypes )
					<option value="$type.name"#if( $currentPeriodTypeId == $type.name ) selected="selected"#end>$type.name</option>
				#end
			</select>
		</td>
	</tr>  
    <tr>
        <td colspan="2" style="height:10px"></td>
    </tr>
	
	<tr>
		<th>$i18n.getString( "from_date" )</th>
		<th>$i18n.getString( "to_date" )</th>
	</tr>
	<tr>
		<td>
			<input type="text" id="fromDate" name="fromDate" title="Earliest date will be used if no date is selected">			
		</td>
		<td>
			<input type="text" id="toDate" name="toDate" title="Latest date will be used if no date is selected">			
		</td>
	</tr>  
    <tr>
        <td colspan="2" style="height:10px"></td>
    </tr>
	
	<tr>
		<th colspan="2">$i18n.getString( "browse_by" )</th>
	</tr>
	<tr>
		<td colspan="2">
			<select id="searchOption" name="searchOption" style="min-width:325px" onchange="modeHandler()">
				<option value ="null">[ $i18n.getString( "select_mode" ) ]</option>
				<option value ="DataSet">$i18n.getString( "data_sets" )</option>
				<option value ="DataElementGroup">$i18n.getString( "data_element_groups" )</option>
				<option value ="OrganisationUnitGroup">$i18n.getString( "Organisation unit groups" )</option>
				<option value ="OrganisationUnit">$i18n.getString( "organisation_units" )</option>
			</select>
		</td>
	</tr>	
</table>

<div id="organisationUnitSection" style="display:none">	
	<table>		
	    <tr>
	        <td style="height:15px; min-width:325px;"></td>
	    </tr>
		<tr>
			<th>$i18n.getString( "select_parent_organisation_unit" )</th>
		</tr>
		<tr>
			<td>
				<div style="border:1px dashed gray; height: 16.5em; overflow:auto; padding:0 3px 3px 0;">
				#parse( "/dhis-web-commons/ouwt/orgunittree.vm" )	
				</div>
			</td>
		</tr>
	</table>
</div>

<div>
	<input type="submit" value="$i18n.getString( 'browse' )" style="width:120px">		
</div>

<script type="text/javascript">
	window.onload = modeHandler;
	
	$(document).ready(function(){
	
		datePickerInRange( 'fromDate' , 'toDate' );
	
	});
	
	
	
</script>
</form>

<span id="message"></span>