<!DOCTYPE HTML>
<html>
    <head>
        <title>$!encoder.htmlEncode( ${applicationTitle} )</title>        
        <script type="text/javascript" src="../javascripts/jQuery/jquery.min.js"></script>
        <script type="text/javascript" src="../javascripts/jQuery/jquery.cookie.js"></script>
        <script type="text/javascript" src="../javascripts/login.js"></script>
        <script type="text/javascript" src="../javascripts/loginCommon.js"></script>        
        <script type="text/javascript">

			var loginTranslationUrl = 'loginStrings.action?page=login&language=';
			
			$(document).ready(function() {
			            
			    $('#j_username').focus();
			
			    $('#loginForm').bind('submit', function() {
			        $('#submit').attr('disabled', 'disabled');
			        $('#reset').attr('disabled', 'disabled');
			
			        sessionStorage.removeItem( 'orgUnitSelected' );
			    });
			
			
				// On page load, get locale selection cookie value ('en' if no value) 
				// and retrieve translation synchronously before the page load.  
				// Also, set the dropdown selection.
				var localeFromCookie = updateTranslationFromCookie(loginTranslationUrl);	
			            	    
			    $('#currentLocale').val(localeFromCookie);
			            	            	                                   
			});
			
        </script>
        <link type="text/css" rel="stylesheet" href="../css/widgets.css">
        <link type="text/css" rel="stylesheet" href="../css/login.css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
    	<h1 style="display:none">$!encoder.htmlEncode( ${applicationTitle} )</h1>
    	<div style="display:none">DHIS 2</div>
        <div>       
        #if ( $keyFlag )
            <img id="flagArea" src="../flags/$!{keyFlagImage}">
        #end
        #if ( $applicationTitle )
            <span id="titleArea">$!encoder.htmlEncode( ${applicationTitle} )</span>
            <input type="hidden" id="titleAreaOriginalHdn" value="$!encoder.htmlEncode( ${applicationTitle} )" />
        #end        
        #if ( $keyApplicationIntro )
            <span id="introArea">$!{keyApplicationIntro}</span>
            <input type="hidden" id="introAreaOriginalHdn" value="$!encoder.htmlEncode( ${keyApplicationIntro} )" />
        #end
        </div>
        #if ( $keyConfig.selfRegistrationAllowed() )
        <div id="accountArea">
        	<a id="createAccount_top" class="greenButtonLink" href="account.action">$i18n.getString( "create_an_account" )</a>
        </div>
        #end
        <div id="loginField">
            <div id="bannerArea"><a href="http://www.dhis2.org"><img src="logo_front.png" style="border:none"></a></div>
            
            <form id="loginForm" action="../../dhis-web-commons-security/login.action" method="post">
                <table>
                    <tr>
                        <td><label id="username_label" for="j_username">$i18n.getString( "login_username" )</label></td>
                        <td><input type="text" id="j_username" name="j_username"></td>
                    </tr>
                    <tr>
                        <td><label id="password_label" for="j_password">$i18n.getString( "login_password" )</label></td>
                        <td><input type="password" id="j_password" name="j_password" autocomplete="off"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input id="submit" class="button" type="submit" value="Login">
                            <input id="reset" class="button" type="reset" value="Clear">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="padding-top:8px">
                        	<span id="loginFormFooter">
                        	#if( $keyAccountRecovery )
                        	<a id="forgetPassword" href="recovery.action">$i18n.getString( "forgot_password" )</a>&nbsp;
                        	#end
                        	#if( $keyConfig.selfRegistrationAllowed() )
                        	<a id="createAccount" href="account.action">$i18n.getString( "create_an_account" )</a>	
	                        #end
	                        </span>
                        </td>
                    </tr>
                </table>
            </form>
            #if( $failed == true )
            <span id="loginMessage">$i18n.getString( "wrong_username_or_password" )</span>
            #end
            #if ( $keyApplicationNotification )
            <div id="notificationArea">$!{keyApplicationNotification}</div>
            <div id="notificationAreaOriginalHdn" style="display: none;">$!{keyApplicationNotification}</div>
            #end
        </div>
        <div id="footerArea">
        	<div id="footerAreaPowerBy"><span id="powerBy">$i18n.getString( "powered_by" )</span> 
        	<a href="http://www.dhis2.org">DHIS 2</a>&nbsp;&nbsp;<span id="applicationFooter">$!{keyApplicationFooter}</span>
            <div id="applicationFooterOriginalHdn" style="display: none;">$!{keyApplicationFooter}</div>
        	</div>
	        <div id="footerAreaLanguage">
				<span id="language">$i18n.getString( "login_language" )</span>: 
				<select id="currentLocale" name="currentLocale" style="width:auto;" onchange="selectLanguage(this.value, loginTranslationUrl);">
				#foreach( $locale in $availableLocales )
					<option value="$locale.toString()">$locale.getDisplayName()</option>
				#end
				</select>
			</div>                
        </div>        
    </body>
</html>
