## Velocity Template.

<h3>$i18n.getString( "integration_routes" )</h3>

<div>
  <input type="button" value="$i18n.getString( 'add_route' )" onclick="window.location.href='addRoute.action'"/>
</div>

<table class="listTable" id="routesList" width='100%'>
  <col/>
  <col/>				
  <thead>				
    <tr>
      <th>$i18n.getString( "route" )</th>
      <th>$i18n.getString( "description" )</th>
      <th class="{sorter: false}" style="width:80px;">$i18n.getString( "operations" )</th>
    </tr>
  </thead>
  <tbody id="list">
  #set( $mark = false )
  #foreach( $routeDefinition in $routeDefinitions )
  <!--<td>$routeDefinition.toString()<td>-->
  <tr #alternate( $mark )>
    <td>$encoder.htmlEncode( $routeDefinition.id )</td>
    <td>$encoder.htmlEncode( $routeDefinition.description.text )</td>
    <td style="text-align:right">
      <a href="showUpdateUserForm.action?id=$userCredentials.id" title="$i18n.getString( 'edit' )"><img src="../images/edit.png" alt="$i18n.getString( 'edit' )"/></a>					
      <a href="javascript:removeUser( $userCredentials.id, '$encoder.jsEncode( $userCredentials.username )' )" title="$i18n.getString( 'remove' )"><img src="../images/delete.png" alt="$i18n.getString( 'remove' )"/></a>
      <a href="javascript:showUserDetails( $userCredentials.id )" title="$i18n.getString( 'show_details' )"><img src="../images/information.png" alt="$i18n.getString( 'show_details' )"/></a>
    </td>
  </tr>
  #end
</table>