<script type="text/javascript">
    var i18n_export = '$i18n.getString( "export" )';
    var i18n_edit = '$i18n.getString( "edit" )';
    var i18n_remove = '$i18n.getString( "remove" )';
</script>
<h3>$i18n.getString( "metadata_detailed_export" ) #openHelp( "filter" )</h3>

<div id="mainDivFilter" style="width: 70%;">
    <table id="filterTable" class="mainPageTable">
        <tr>
            <td style="vertical-align:top">
                <table width="100%">
                    <tr>
                        <td>#filterDiv( "dxf2DetailedMetaDataExport" )</td>
                        <td colspan="9" style="text-align:right">
                            <form id="formFilter" method="POST" action="filterExportForm.action">
                                <input type="hidden" name="name" value=""/>
                                <input type="hidden" name="uid" value=""/>
                                <input type="hidden" name="code" value=""/>
                                <input type="hidden" name="metaDataUids" value=''/>
                                <input type="hidden" name="operation" value=""/>
                                <input type="button" value="$i18n.getString( 'sort' )" onclick="window.location.href='showSortFilterForm.action';" style="width: 80px;"/>
                                <input type="button" value="$i18n.getString( "add_new" )" onclick="submitFilterForm();" style="width: 80px;"/>
                                <input type="button" value="$i18n.getString( "add_ad_hoc_filter" )" onclick="" style="width: 140px;"/>
                            </form>
                        </td>
                    </tr>
                </table>

                <!-- FILTER TABLE -->
                <table id="filterList" class="listTable">
                    <col/>
                    <col width="260"/>
                    <thead>
                    <tr>
                        <th>$i18n.getString( "name" )</th>
                        <th class="{sorter: false}">$i18n.getString( "operations" )</th>
                    </tr>
                    </thead>
                    <tbody id="filterTableBody">
                    #foreach( $filter in $filters )
                    <tr id="tr${filter.uid}">
                        <td>$filter.name</td>
                        <td>
                            <button id="buttonExport${filter.uid}" type="button" style="background-color: inherit; border: 0px; cursor: pointer;" onclick="exportFilterButton( '$filter.uid' );">
                                <img src="../images/start_process.png" title="$i18n.getString( 'export' )" alt="$i18n.getString( 'export' )"/>
                            </button>
                            <button id="buttonEdit${filter.uid}" type="button" style="background-color: inherit; border: 0px; cursor: pointer;" onclick="editFilterButton( '$filter.uid' );">
                                <img src="../images/edit.png" title="$i18n.getString( 'edit' )" alt="$i18n.getString( 'edit' )"/>
                            </button>
                            <button id="buttonRemove${filter.uid}" type="button" style="background-color: inherit; border: 0px; cursor: pointer;" onclick="removeFilterButton( '$filter.uid' );">
                                <img src="../images/delete.png" title="$i18n.getString( 'remove' )" alt="$i18n.getString( 'remove' )"/>
                            </button>
                            <button type="button" style="background-color: inherit; border: 0px; cursor: pointer;" onclick="showFilterDetails( '$filter.uid' );">
                                <img src="../images/information.png" title="$i18n.getString( 'show_details' )" alt="$i18n.getString( 'show_details' )"/>
                            </button>
                        </td>
                    </tr>
                    #end
                    </tbody>
                </table>
                <p></p>
                #parse( "/dhis-web-commons/paging/paging.vm" )
            </td>
            <td id="detailsData">
                <div id="detailsArea" style="display: none;">
                    <div id="hideDetailsArea">
                        <a href="javascript:hideDetails();" title="$i18n.getString( 'hide_details' )"><img src="../images/hide.png" alt="$i18n.getString( 'hide_details' )"/></a>
                    </div>
                    <p><label>$i18n.getString( "name" ):</label><br/><span id="nameField"></span></p>
                </div>
            </td>
        </tr>
    </table>
</div>

<!-- EXPORT DIALOG -->
<div id="exportDialog" style="display: none;">
    <table>
        <tr>
            <td colspan="2">
                <select id="format" style="width: 250px; font-size: 10pt;">
                    <option value="Xml">XML</option>
                    <option value="Json">Json</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <select id="compression" style="width: 250px; font-size: 10pt;">
                    <option value="zip">Zipped</option>
                    <option value="gz">GZipped</option>
                    <option value="uncompressed">Uncompressed</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="hidden" id="exportJson" value=''/>
                <input type="button" value="$i18n.getString( 'export' )" style="width:250px; font-size: 10pt;" onclick="exportDetailedMetaData();"/>
            </td>
        </tr>
    </table>
</div>
