<script>
    var i18n_select_organisation_unit = '$encoder.jsEscape( $i18n.getString( "select_organisation_unit" ), "'")';
    var i18n_select_startdate = '$encoder.jsEscape( $i18n.getString( "select_startdate" ), "'")';
    var i18n_select_enddate = '$encoder.jsEscape( $i18n.getString( "select_enddate" ), "'")';
    var i18n_select_datasets = '$encoder.jsEscape( $i18n.getString( "select_datasets" ), "'")';
</script>

<h2>$i18n.getString( "metadata_subset_export" )</h2>

<!-- EXPORT FORM -->
<!-- ACTION METHOD HERE -->
<form id="exportForm" name="exportForm" method="post" action="exportDetailedMetaData.action">
    <input type="hidden" name="exportFormat" value="$!exportFormat">

    <!-- ATTRIBUTE TYPES SELECTION -->
    <div>
        <input id="attributeTypes" name="attributeTypes" type="checkbox" value="true"
               style="float: left; width: 25px;"/><h4>$i18n.getString( "attribute_types" )</h4>

        <table id="attributeTypesSelectionArea">

            <colgroup>
                <col style="width: 500px;"/>
                <col/>
                <col style="width: 500px"/>
            </colgroup>
            <thead>

            <!-- TIMESTAMP FILTER -->
            <tr>
                <th>$i18n.getString( "start_date" )</th>
                <td></td>
                <th>$i18n.getString( "end_date" )</th>
            </tr>
            <tr>
                <td><input type="text" id="startDate" name="startDate" value="$!startDate" style="width:230px"></td>
                <td></td>
                <td><input type="text" id="endDate" name="endDate" value="$!endDate" style="width:230px"></td>
            </tr>
            <tr>
                <td colspan="3" height="15"></td>
            </tr>

            <!-- DATA -->
            <tr>
                <th>$i18n.getString( "available_attribute_Types" )</th>
                <th>$i18n.getString( "filter" )</th>
                <th>$i18n.getString( "selected_attribute_types" )</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <select id="availableAttributes" multiple="multiple" style="height: 200px; width: 100%;"></select>
                </td>
                <td>
                    <input type="button" value="&gt;" title="$i18n.getString( 'move_selected' )" style="width:50px"
                           onclick="dhisAjaxSelect_moveAllSelected( 'availableAttributes' );"/><br/>
                    <input type="button" value="&lt;" title="$i18n.getString( 'remove_selected' )" style="width:50px"
                           onclick="dhisAjaxSelect_moveAllSelected( 'selectedAttributes' );"/><br/>
                    <input type="button" value="&gt;&gt;" title="$i18n.getString('move_all')" style="width:50px"
                           onclick="dhisAjaxSelect_moveAll( 'availableAttributes' );"/><br/>
                    <input type="button" value="&lt;&lt;" title="$i18n.getString('remove_all')" style="width:50px"
                           onclick="dhisAjaxSelect_moveAll( 'selectedAttributes' );"/>
                </td>
                <td>
                    <select id="selectedAttributes" name="selectedAttributes" multiple="multiple"
                            style="height: 200px; width: 100%; margin-top: 45px;"></select>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- DATA SETS SELECTION -->
    <div>
        <input id="dataSets" name="dataSets" type="checkbox" value="true"
               style="float: left; width: 25px;"/><h4>$i18n.getString( "data_sets" )</h4>
        <table id="dataSetsSelectionArea">
            <colgroup>
                <col style="width: 500px;"/>
                <col/>
                <col style="width: 500px"/>
            </colgroup>
            <thead>

            <!-- TIMESTAMP FILTER -->
            <tr>
                <th>$i18n.getString( "start_date" )</th>
                <td></td>
                <th>$i18n.getString( "end_date" )</th>
            </tr>
            <tr>
                <td><input type="text" id="startDate" name="startDate" value="$!startDate" style="width:230px"></td>
                <td></td>
                <td><input type="text" id="endDate" name="endDate" value="$!endDate" style="width:230px"></td>
            </tr>
            <tr>
                <td colspan="3" height="15"></td>
            </tr>

            <!-- DATA -->
            <tr>
                <th>$i18n.getString( "available_data_sets" )</th>
                <th>$i18n.getString( "filter" )</th>
                <th>$i18n.getString( "selected_data_sets" )</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <select id="availableDataSets" multiple="multiple" style="height: 200px; width: 100%;"></select>
                </td>
                <td>
                    <input type="button" value="&gt;" title="$i18n.getString( 'move_selected' )" style="width:50px"
                           onclick="dhisAjaxSelect_moveAllSelected( 'availableDataSets' );"/><br/>
                    <input type="button" value="&lt;" title="$i18n.getString( 'remove_selected' )" style="width:50px"
                           onclick="dhisAjaxSelect_moveAllSelected( 'selectedDataSets' );"/><br/>
                    <input type="button" value="&gt;&gt;" title="$i18n.getString('move_all')" style="width:50px"
                           onclick="dhisAjaxSelect_moveAll( 'availableDataSets' );"/><br/>
                    <input type="button" value="&lt;&lt;" title="$i18n.getString('remove_all')" style="width:50px"
                           onclick="dhisAjaxSelect_moveAll( 'selectedDataSets' );"/>
                </td>
                <td>
                    <select id="selectedDataSets" name="selectedDataSets" multiple="multiple"
                            style="height: 200px; width: 100%; margin-top: 45px;"></select>
                </td>
            </tr>
            </tbody>
        </table>
    </div>








    <table>
        <tr>
            <td colspan="2">
                <select id="format" style="width: 204px;">
                    <option value="xml">XML</option>
                    <option value="json">Json</option>
                </select>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <select id="compression" style="width: 204px;">
                    <option value="zip">Zipped</option>
                    <option value="gz">GZipped</option>
                    <option value="uncompressed">Uncompressed</option>
                </select>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="button" value="$i18n.getString( 'export' )" style="width:204px;"
                       onclick="exportMetaData();"/>
            </td>
        </tr>

        </tbody>
    </table>

</form>
