<script type="text/javascript">
    var i18n_export = '$i18n.getString( "export" )';
    var i18n_edit = '$i18n.getString( "edit" )';
    var i18n_remove = '$i18n.getString( "remove" )';
</script>
<h3>$i18n.getString( "metadata_detailed_export" )</h3>

<div id="mainDivFilter" style="width: 70%;">
    <table id="filterTable" class="mainPageTable">
        <tr>
            <td style="vertical-align:top">
                <table width="100%">
                    <tr>
                        <td colspan="9" style="text-align:right">
                            <form id="formFilter" method="POST" action="saveOrUpdateFilterExportForm.action">
                                <input type="hidden" name="name" value=""/>
                                <input type="hidden" name="uid" value=""/>
                                <input type="hidden" name="code" value=""/>
                                <input type="hidden" name="metaDataUids" value=''/>
                                <input type="hidden" name="operation" value=""/>
                                <input type="button" value="$i18n.getString( 'sort' )" onclick="" style="width: 80px;"/>
                                <input type="button" value="$i18n.getString( "create" )" onclick="submitFilterForm();" style="width: 80px;"/>
                                <input type="button" value="$i18n.getString( "create_temporary" )" onclick="" style="width: 120px;"/>
                            </form>
                        </td>
                    </tr>
                </table>

                <!-- FILTER TABLE -->
                <table id="filterList" class="listTable">
                    <col/>
                    <col width="260"/>
                    <thead>
                    <tr>
                        <th>$i18n.getString( "name" )</th>
                        <th class="{sorter: false}">$i18n.getString( "operations" )</th>
                    </tr>
                    </thead>
                    <tbody id="filterTableBody">
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>

<!-- EXPORT DIALOG -->
<div id="exportDialog" style="display: none;">
    <table>
        <tr>
            <td colspan="2">
                <select id="format" style="width: 250px; font-size: 10pt;">
                    <option value="Xml">XML</option>
                    <option value="Json">Json</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <select id="compression" style="width: 250px; font-size: 10pt;">
                    <option value="zip">Zipped</option>
                    <option value="gz">GZipped</option>
                    <option value="uncompressed">Uncompressed</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="hidden" id="exportJson" value=''/>
                <input type="button" value="$i18n.getString( 'export' )" style="width:250px; font-size: 10pt;" onclick="exportDetailedMetaData();"/>
            </td>
        </tr>
    </table>
</div>
