<script>
    var i18n_attributeTypes = '$i18n.getString( "attribute_types" )';
    var i18n_select_all_attributeTypes = '$i18n.getString( "select_all_attribute_types" )';
    var i18n_available_attributeTypes = '$i18n.getString( "available_attribute_types" )';
    var i18n_selected_attributeTypes = '$i18n.getString( "selected_attribute_types" )';

    var i18n_categories = '$i18n.getString( "categories" )';
    var i18n_select_all_categories = '$i18n.getString( "select_all_categories" )';
    var i18n_available_categories = '$i18n.getString( "available_categories" )';
    var i18n_selected_categories = '$i18n.getString( "selected_categories" )';

    var i18n_available_charts = '$i18n.getString( "available_charts" )';
    var i18n_selected_charts = '$i18n.getString( "selected_charts" )';

    var i18n_available_concepts = '$i18n.getString( "available_concepts" )';
    var i18n_selected_concepts = '$i18n.getString( "selected_concepts" )';

    var i18n_available_constants = '$i18n.getString( "available_constants" )';
    var i18n_selected_constants = '$i18n.getString( "selected_constants" )';

    var i18n_available_dataDictionaries = '$i18n.getString( "available_dataDictionaries" )';
    var i18n_selected_dataDictionaries = '$i18n.getString( "selected_dataDictionaries" )';

    var i18n_available_dataElementGroupSets = '$i18n.getString( "available_dataElementGroupSets" )';
    var i18n_selected_dataElementGroupSets = '$i18n.getString( "selected_dataElementGroupSets" )';

    var i18n_available_dataElementGroups = '$i18n.getString( "available_dataElementGroups" )';
    var i18n_selected_dataElementGroups = '$i18n.getString( "selected_dataElementGroups" )';

    var i18n_available_dataElements = '$i18n.getString( "available_data_elements" )';
    var i18n_selected_dataElements = '$i18n.getString( "selected_data_elements" )';

    var i18n_available_dataSets = '$i18n.getString( "available_datasets" )';
    var i18n_selected_dataSets = '$i18n.getString( "selected_datasets" )';

    var i18n_available_documents = '$i18n.getString( "available_documents" )';
    var i18n_selected_documents = '$i18n.getString( "available_documents" )';

    var i18n_available_indicatorGroupSets = '$i18n.getString( "available_indicatorGroupSets" )';
    var i18n_selected_indicatorGroupSets = '$i18n.getString( "selected_indicatorGroupSets" )';

    var i18n_available_indicatorGroups = '$i18n.getString( "available_indicatorGroups" )';
    var i18n_selected_indicatorGroups = '$i18n.getString( "selected_indicatorGroups" )';

    var i18n_available_indicatorTypes = '$i18n.getString( "available_indicatorTypes" )';
    var i18n_selected_indicatorTypes = '$i18n.getString( "selected_indicatorTypes" )';

    var i18n_available_indicators = '$i18n.getString( "available_indicators" )';
    var i18n_selected_indicators = '$i18n.getString( "selected_indicators" )';

    var i18n_available_mapLegendSets = '$i18n.getString( "available_mapLegendSets" )';
    var i18n_selected_mapLegendSets = '$i18n.getString( "selected_mapLegendSets" )';

    var i18n_available_maps = '$i18n.getString( "available_maps" )';
    var i18n_selected_maps = '$i18n.getString( "selected_maps" )';

    var i18n_available_optionSets = '$i18n.getString( "available_optionSets" )';
    var i18n_selected_optionSets = '$i18n.getString( "selected_optionSets" )';

    var i18n_available_organisationUnitGroupSets = '$i18n.getString( "available_organisationUnitGroupSets" )';
    var i18n_selected_organisationUnitGroupSets = '$i18n.getString( "selected_organisationUnitGroupSets" )';

    var i18n_available_organisationUnitGroups = '$i18n.getString( "available_organisationUnitGroups" )';
    var i18n_selected_organisationUnitGroups = '$i18n.getString( "selected_organisationUnitGroups" )';

    var i18n_available_organisationUnitLevels = '$i18n.getString( "available_organisationUnitLevels" )';
    var i18n_selected_organisationUnitLevels = '$i18n.getString( "selected_organisationUnitLevels" )';

    var i18n_available_organisationUnits = '$i18n.getString( "available_organisationUnits" )';
    var i18n_selected_organisationUnits = '$i18n.getString( "selected_organisationUnits" )';

    var i18n_available_reportTables = '$i18n.getString( "available_reportTables" )';
    var i18n_selected_reportTables = '$i18n.getString( "selected_reportTables" )';

    var i18n_available_reports = '$i18n.getString( "available_reports" )';
    var i18n_selected_reports = '$i18n.getString( "selected_reports" )';

    var i18n_available_sqlViews = '$i18n.getString( "available_sqlViews" )';
    var i18n_selected_sqlViews = '$i18n.getString( "selected_sqlViews" )';

    var i18n_available_userGroups = '$i18n.getString( "available_userGroups" )';
    var i18n_selected_userGroups = '$i18n.getString( "selected_userGroups" )';

    var i18n_available_userRoles = '$i18n.getString( "available_userRoles" )';
    var i18n_selected_userRoles = '$i18n.getString( "selected_userRoles" )';

    var i18n_available_users = '$i18n.getString( "available_users" )';
    var i18n_selected_users = '$i18n.getString( "selected_users" )';

    var i18n_available_validationRuleGroups = '$i18n.getString( "available_validationRuleGroups" )';
    var i18n_selected_validationRuleGroups = '$i18n.getString( "selected_validationRuleGroups" )';

    var i18n_available_validationRules = '$i18n.getString( "available_validationRules" )';
    var i18n_selected_validationRules = '$i18n.getString( "selected_validationRules" )';

    var i18n_filter = '$i18n.getString( "filter" )';
    var i18n_move_selected = '$i18n.getString( "move_selected" )';
    var i18n_remove_selected = '$i18n.getString( "remove_selected" )';
    var i18n_move_all = '$i18n.getString( "move_all" )';
    var i18n_remove_all = '$i18n.getString( "remove_all" )';
</script>

<h3>$i18n.getString( "metadata_subset_export" )</h3>

<!-- EXPORT FORM -->
<!-- ACTION METHOD HERE -->
<form id="exportForm" name="exportForm">

    <!-- MENU -->
    <div id="mainDivAccordion">

        <!-- ATTRIBUTES TYPES SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "attribute_types" )</h6>
        <div id="divAttributeTypes" style="margin: 5px;"></div>

        <!-- CATEGORIES SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "categories" )</h6>
        <div id="divDimensions" style="margin: 5px;"></div>

        <!-- CHARTS SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "charts" )</h6>
        <div style="margin: 5px;">
            <input id="checkboxCharts" class="metadataCheckbox" name="Charts" type="checkbox" value="true" style="float: left; width: 9pt;"/>
            <label id="labelCharts" for="charts" style="font-size: 10pt;">$i18n.getString( "charts" )</label>
            <div id="mainDivCharts"></div>
        </div>
        <!-- CONCEPTS SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "concepts" )</h6>
        <div style="margin: 5px;">
            <input id="checkboxConcepts" class="metadataCheckbox" name="Concepts" type="checkbox" value="true" style="float: left; width: 9pt;"/>
            <label id="labelConcepts" for="concepts" style="font-size: 10pt;">$i18n.getString( "concepts" )</label>
            <div id="mainDivConcepts"></div>
        </div>
        <!-- CONSTANTS SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "constants" )</h6>
        <div style="margin: 5px;">
            <input id="checkboxConstants" class="metadataCheckbox" name="Constants" type="checkbox" value="true" style="float: left; width: 9pt;"/>
            <label id="labelConstants" for="constants" style="font-size: 10pt;">$i18n.getString( "constants" )</label>
            <div id="mainDivConstants"></div>
        </div>
        <!-- DATA DICTIONARIES SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "data_dictionaries" )</h6>
        <div style="margin: 5px;">
            <input id="checkboxDataDictionaries" class="metadataCheckbox" name="DataDictionaries" type="checkbox" value="true" style="float: left; width: 9pt;"/>
            <label id="labelDataDictionaries" for="dataDictionaries" style="font-size: 10pt;">$i18n.getString( "data_dictionaries" )</label>
            <div id="mainDivDataDictionaries"></div>
        </div>
        <!-- DATA ELEMENT GROUP SETS SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "data_element_group_sets" )</h6>
        <div style="margin: 5px;">
            <input id="checkboxDataElementGroupSets" class="metadataCheckbox" name="DataElementGroupSets" type="checkbox" value="true" style="float: left; width: 9pt;"/>
            <label id="labelDataElementGroupSets" for="dataElementGroupSets" style="font-size: 10pt;">$i18n.getString( "data_element_group_sets" )</label>
            <div id="mainDivDataElementGroupSets"></div>
        </div>
        <!-- DATA ELEMENT GROUPS SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "data_element_groups" )</h6>
        <div style="margin: 5px;">
            <input id="checkboxDataElementGroups" class="metadataCheckbox" name="DataElementGroups" type="checkbox" value="true" style="float: left; width: 9pt;"/>
            <label id="labelDataElementGroups" for="dataElementGroups" style="font-size: 10pt;">$i18n.getString( "data_element_groups" )</label>
            <div id="mainDivDataElementGroups"></div>
        </div>
        <!-- DATA ELEMENTS SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "data_elements" )</h6>
        <div style="margin: 5px;">
            <input id="checkboxDataElements" class="metadataCheckbox" name="DataElements" type="checkbox" value="true" style="float: left; width: 9pt;"/>
            <label id="labelDataElements" for="dataElements" style="font-size: 10pt;">$i18n.getString( "data_elements" )</label>
            <div id="mainDivDataElements"></div>
        </div>
        <!-- DATA SETS SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "data_sets" )</h6>
        <div style="margin: 5px;">
            <input id="checkboxDataSets" class="metadataCheckbox" name="DataSets" type="checkbox" value="true" style="float: left; width: 9pt;"/>
            <label id="labelDataSets" for="dataSets" style="font-size: 10pt;">$i18n.getString( "data_sets" )</label>
            <div id="mainDivDataSets"></div>
        </div>
        <!-- DOCUMENTS SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "documents" )</h6>
        <div style="margin: 5px;">
            <input id="checkboxDocuments" class="metadataCheckbox" name="Documents" type="checkbox" value="true" style="float: left; width: 9pt;"/>
            <label id="labelDocuments" for="documents" style="font-size: 10pt;">$i18n.getString( "documents" )</label>
            <div id="mainDivDocuments"></div>
        </div>
        <!-- INDICATOR GROUP SETS SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "indicator_group_sets" )</h6>
        <div style="margin: 5px;">
            <input id="checkboxIndicatorGroupSets" class="metadataCheckbox" name="IndicatorGroupSets" type="checkbox" value="true" style="float: left; width: 9pt;"/>
            <label id="labelIndicatorGroupSets" for="indicatorGroupSets" style="font-size: 10pt;">$i18n.getString( "indicator_group_sets" )</label>
            <div id="mainDivIndicatorGroupSets"></div>
        </div>
        <!-- INDICATOR GROUP SETS SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "indicator_groups" )</h6>
        <div style="margin: 5px;">
            <input id="checkboxIndicatorGroups" class="metadataCheckbox" name="IndicatorGroups" type="checkbox" value="true" style="float: left; width: 9pt;"/>
            <label id="labelIndicatorGroups" for="indicatorGroups" style="font-size: 10pt;">$i18n.getString( "indicator_groups" )</label>
            <div id="mainDivIndicatorGroups"></div>
        </div>
        <!-- INDICATOR TYPES SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "indicator_types" )</h6>
        <div style="margin: 5px;">
            <input id="checkboxIndicatorTypes" class="metadataCheckbox" name="IndicatorTypes" type="checkbox" value="true" style="float: left; width: 9pt;"/>
            <label id="labelIndicatorTypes" for="indicatorTypes" style="font-size: 10pt;">$i18n.getString( "indicator_types" )</label>
            <div id="mainDivIndicatorTypes"></div>
        </div>
        <!-- INDICATORS SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "indicators" )</h6>
        <div style="margin: 5px;">
            <input id="checkboxIndicators" class="metadataCheckbox" name="Indicators" type="checkbox" value="true" style="float: left; width: 9pt;"/>
            <label id="labelIndicators" for="indicators" style="font-size: 10pt;">$i18n.getString( "indicators" )</label>
            <div id="mainDivIndicators"></div>
        </div>
        <!-- MAP LEGEND SETS SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "map_legend_sets" )</h6>
        <div style="margin: 5px;">
            <input id="checkboxMapLegendSets" class="metadataCheckbox" name="MapLegendSets" type="checkbox" value="true" style="float: left; width: 9pt;"/>
            <label id="labelMapLegendSets" for="mapLegendSets" style="font-size: 10pt;">$i18n.getString( "map_legend_sets" )</label>
            <div id="mainDivMapLegendSets"></div>
        </div>
        <!-- MAPS SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "maps" )</h6>
        <div style="margin: 5px;">
            <input id="checkboxMaps" class="metadataCheckbox" name="Maps" type="checkbox" value="true" style="float: left; width: 9pt;"/>
            <label id="labelMaps" for="maps" style="font-size: 10pt;">$i18n.getString( "maps" )</label>
            <div id="mainDivMaps"></div>
        </div>
        <!-- OPTION SETS SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "option_sets" )</h6>
        <div style="margin: 5px;">
            <input id="checkboxOptionSets" class="metadataCheckbox" name="OptionSets" type="checkbox" value="true" style="float: left; width: 9pt;"/>
            <label id="labelOptionSets" for="optionSets" style="font-size: 10pt;">$i18n.getString( "option_sets" )</label>
            <div id="mainDivOptionSets"></div>
        </div>
        <!-- ORGANISATION UNIT GROUP SETS SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "organisation_unit_group_sets" )</h6>
        <div style="margin: 5px;">
            <input id="checkboxOrganisationUnitGroupSets" class="metadataCheckbox" name="OrganisationUnitGroupSets" type="checkbox" value="true" style="float: left; width: 9pt;"/>
            <label id="labelOrganisationUnitGroupSets" for="organisationUnitGroupSets" style="font-size: 10pt;">$i18n.getString( "organisation_unit_group_sets" )</label>
            <div id="mainDivOrganisationUnitGroupSets"></div>
        </div>
        <!-- ORGANISATION UNIT GROUPS SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "organisation_unit_groups" )</h6>
        <div style="margin: 5px;">
            <input id="checkboxOrganisationUnitGroups" class="metadataCheckbox" name="OrganisationUnitGroups" type="checkbox" value="true" style="float: left; width: 9pt;"/>
            <label id="labelOrganisationUnitGroups" for="organisationUnitGroups" style="font-size: 10pt;">$i18n.getString( "organisation_unit_groups" )</label>
            <div id="mainDivOrganisationUnitGroups"></div>
        </div>
        <!-- ORGANISATION UNIT LEVELS SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "organisation_unit_levels" )</h6>
        <div style="margin: 5px;">
            <input id="checkboxOrganisationUnitLevels" class="metadataCheckbox" name="OrganisationUnitLevels" type="checkbox" value="true" style="float: left; width: 9pt;"/>
            <label id="labelOrganisationUnitLevels" for="organisationUnitLevels" style="font-size: 10pt;">$i18n.getString( "organisation_unit_levels" )</label>
            <div id="mainDivOrganisationUnitLevels"></div>
        </div>
        <!-- ORGANISATION UNITS SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "organisation_units" )</h6>
        <div style="margin: 5px;">
            <input id="checkboxOrganisationUnits" class="metadataCheckbox" name="OrganisationUnits" type="checkbox" value="true" style="float: left; width: 9pt;"/>
            <label id="labelOrganisationUnits" for="organisationUnits" style="font-size: 10pt;">$i18n.getString( "organisation_units" )</label>
            <div id="mainDivOrganisationUnits"></div>
        </div>
        <!-- REPORT TABLES SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "report_tables" )</h6>
        <div style="margin: 5px;">
            <input id="checkboxReportTables" class="metadataCheckbox" name="ReportTables" type="checkbox" value="true" style="float: left; width: 9pt;"/>
            <label id="labelReportTables" for="reportTables" style="font-size: 10pt;">$i18n.getString( "report_tables" )</label>
            <div id="mainDivReportTables"></div>
        </div>
        <!-- REPORTS SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "reports" )</h6>
        <div style="margin: 5px;">
            <input id="checkboxReports" class="metadataCheckbox" name="Reports" type="checkbox" value="true" style="float: left; width: 9pt;"/>
            <label id="labelReports" for="reports" style="font-size: 10pt;">$i18n.getString( "reports" )</label>
            <div id="mainDivReports"></div>
        </div>
        <!-- SQL VIEWS SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "sql_views" )</h6>
        <div style="margin: 5px;">
            <input id="checkboxSqlViews" class="metadataCheckbox" name="SqlViews" type="checkbox" value="true" style="float: left; width: 9pt;"/>
            <label id="labelSqlViews" for="sqlViews" style="font-size: 10pt;">$i18n.getString( "sql_views" )</label>
            <div id="mainDivSqlViews"></div>
        </div>
        <!-- USER GROUPS SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "user_groups" )</h6>
        <div style="margin: 5px;">
            <input id="checkboxUserGroups" class="metadataCheckbox" name="UserGroups" type="checkbox" value="true" style="float: left; width: 9pt;"/>
            <label id="labelUserGroups" for="userGroups" style="font-size: 10pt;">$i18n.getString( "user_groups" )</label>
            <div id="mainDivUserGroups"></div>
        </div>
        <!-- USER ROLES SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "user_roles" )</h6>
        <div style="margin: 5px;">
            <input id="checkboxUserRoles" class="metadataCheckbox" name="UserRoles" type="checkbox" value="true" style="float: left; width: 9pt;"/>
            <label id="labelUserRoles" for="userRoles" style="font-size: 10pt;">$i18n.getString( "user_roles" )</label>
            <div id="mainDivUserRoles"></div>
        </div>
        <!-- USERS SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "users" )</h6>
        <div style="margin: 5px;">
            <input id="checkboxUsers" class="metadataCheckbox" name="Users" type="checkbox" value="true" style="float: left; width: 9pt;"/>
            <label id="labelUsers" for="users" style="font-size: 10pt;">$i18n.getString( "users" )</label>
            <div id="mainDivUsers"></div>
        </div>
        <!-- VALIDATION RULE GROUPS SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "validation_rule_groups" )</h6>
        <div style="margin: 5px;">
            <input id="checkboxValidationRuleGroups" class="metadataCheckbox" name="ValidationRuleGroups" type="checkbox" value="true" style="float: left; width: 9pt;"/>
            <label id="labelValidationRuleGroups" for="validationRuleGroups" style="font-size: 10pt;">$i18n.getString( "validation_rule_groups" )</label>
            <div id="mainDivValidationRuleGroups"></div>
        </div>
        <!-- VALIDATION RULES SELECTION -->
        <h6 style="font-size: 10pt;">$i18n.getString( "validation_rules" )</h6>
        <div style="margin: 5px;">
            <input id="checkboxValidationRules" class="metadataCheckbox" name="ValidationRules" type="checkbox" value="true" style="float: left; width: 9pt;"/>
            <label id="labelValidationRules" for="validationRules" style="font-size: 10pt;">$i18n.getString( "validation_rules" )</label>
            <div id="mainDivValidationRules"></div>
        </div>
    </div>

    <br>
    <!-- INPUT -->
    <table>
        <tr>
            <td colspan="2">
                <input type="button" value="$i18n.getString( 'select_all_tables' )" style="width:125px; font-size: 10pt;"
                       onclick="selectAll();"/>
                <input type="button" value="$i18n.getString( 'select_all_values' )" style="width:125px; font-size: 10pt;"
                       onclick="selectAllValues();"/>
                <input type="button" value="$i18n.getString( 'select_none' )" style="width:125px; font-size: 10pt;"
                       onclick="selectNone();"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <select id="format" style="width: 254px; font-size: 10pt;">
                    <option value="xml">XML</option>
                    <option value="json">Json</option>
                </select>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <select id="compression" style="width: 254px; font-size: 10pt;">
                    <option value="zip">Zipped</option>
                    <option value="gz">GZipped</option>
                    <option value="uncompressed">Uncompressed</option>
                </select>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="button" value="$i18n.getString( 'export' )" style="width:254px; font-size: 10pt;"
                       onclick="exportDetailedMetaData();"/>
            </td>
        </tr>
    </table>
</form>
