<script>
    jQuery( function ()
    {
        processMetaDataFile();
    } );

    // Process the uploaded MetaData file
    function processMetaDataFile()
    {
        $( "#upload" ).change( function ()
        {
            $( "#importForm" ).submit();
        } );
    }
</script>
##@author Ovidiu Rosu <rosu.ovi@gmail.com>

<h3>$i18n.getString( "metadata_detailed_import" )</h3>

<div id="inputCriteria" class="inputCriteria" style="width: 380px">
    <form id="importForm" name="importForm" method="post" enctype="multipart/form-data" action="importDetailedMetaData.action">
        <table>
            <col width="140">
            <col>
            <tr>
                <td>$i18n.getString( "file" )</td>
                <td><input type="file" id="upload" name="upload" style="margin-left:0px"></td>
            </tr>
        </table>
    </form>
</div>
