<script>
    var i18n_available_attributes = '$i18n.getString( "available_attributes" )';
    var i18n_selected_attributes = '$i18n.getString( "selected_attributes" )';

    var i18n_available_categories = '$i18n.getString( "available_categories" )';
    var i18n_selected_categories = '$i18n.getString( "selected_categories" )';

    var i18n_available_charts = '$i18n.getString( "available_charts" )';
    var i18n_selected_charts = '$i18n.getString( "selected_charts" )';

    var i18n_available_concepts = '$i18n.getString( "available_concepts" )';
    var i18n_selected_concepts = '$i18n.getString( "selected_concepts" )';

    var i18n_available_constants = '$i18n.getString( "available_constants" )';
    var i18n_selected_constants = '$i18n.getString( "selected_constants" )';

    var i18n_available_dataDictionaries = '$i18n.getString( "available_dataDictionaries" )';
    var i18n_selected_dataDictionaries = '$i18n.getString( "selected_dataDictionaries" )';

    var i18n_available_dataElementGroupSets = '$i18n.getString( "available_dataElementGroupSets" )';
    var i18n_selected_dataElementGroupSets = '$i18n.getString( "selected_dataElementGroupSets" )';

    var i18n_available_dataElementGroups = '$i18n.getString( "available_dataElementGroups" )';
    var i18n_selected_dataElementGroups = '$i18n.getString( "selected_dataElementGroups" )';

    var i18n_available_dataElements = '$i18n.getString( "available_data_elements" )';
    var i18n_selected_dataElements = '$i18n.getString( "selected_data_elements" )';

    var i18n_available_dataSets = '$i18n.getString( "available_datasets" )';
    var i18n_selected_dataSets = '$i18n.getString( "selected_datasets" )';

    var i18n_available_documents = '$i18n.getString( "available_documents" )';
    var i18n_selected_documents = '$i18n.getString( "available_documents" )';

    var i18n_available_indicatorGroupSets = '$i18n.getString( "available_indicatorGroupSets" )';
    var i18n_selected_indicatorGroupSets = '$i18n.getString( "selected_indicatorGroupSets" )';

    var i18n_available_indicatorGroups = '$i18n.getString( "available_indicatorGroups" )';
    var i18n_selected_indicatorGroups = '$i18n.getString( "selected_indicatorGroups" )';

    var i18n_available_indicatorTypes = '$i18n.getString( "available_indicatorTypes" )';
    var i18n_selected_indicatorTypes = '$i18n.getString( "selected_indicatorTypes" )';

    var i18n_available_indicators = '$i18n.getString( "available_indicators" )';
    var i18n_selected_indicators = '$i18n.getString( "selected_indicators" )';

    var i18n_available_mapLegendSets = '$i18n.getString( "available_mapLegendSets" )';
    var i18n_selected_mapLegendSets = '$i18n.getString( "selected_mapLegendSets" )';

    var i18n_available_maps = '$i18n.getString( "available_maps" )';
    var i18n_selected_maps = '$i18n.getString( "selected_maps" )';

    var i18n_available_optionSets = '$i18n.getString( "available_optionSets" )';
    var i18n_selected_optionSets = '$i18n.getString( "selected_optionSets" )';

    var i18n_available_organisationUnitGroupSets = '$i18n.getString( "available_organisationUnitGroupSets" )';
    var i18n_selected_organisationUnitGroupSets = '$i18n.getString( "selected_organisationUnitGroupSets" )';

    var i18n_available_organisationUnitGroups = '$i18n.getString( "available_organisationUnitGroups" )';
    var i18n_selected_organisationUnitGroups = '$i18n.getString( "selected_organisationUnitGroups" )';

    var i18n_available_organisationUnitLevels = '$i18n.getString( "available_organisationUnitLevels" )';
    var i18n_selected_organisationUnitLevels = '$i18n.getString( "selected_organisationUnitLevels" )';

    var i18n_available_organisationUnits = '$i18n.getString( "available_organisationUnits" )';
    var i18n_selected_organisationUnits = '$i18n.getString( "selected_organisationUnits" )';

    var i18n_available_reportTables = '$i18n.getString( "available_reportTables" )';
    var i18n_selected_reportTables = '$i18n.getString( "selected_reportTables" )';

    var i18n_available_reports = '$i18n.getString( "available_reports" )';
    var i18n_selected_reports = '$i18n.getString( "selected_reports" )';

    var i18n_available_sqlViews = '$i18n.getString( "available_sqlViews" )';
    var i18n_selected_sqlViews = '$i18n.getString( "selected_sqlViews" )';

    var i18n_available_userGroups = '$i18n.getString( "available_userGroups" )';
    var i18n_selected_userGroups = '$i18n.getString( "selected_userGroups" )';

    var i18n_available_userRoles = '$i18n.getString( "available_userGroups" )';
    var i18n_selected_userRoles = '$i18n.getString( "selected_userGroups" )';

    var i18n_available_users = '$i18n.getString( "available_users" )';
    var i18n_selected_users = '$i18n.getString( "selected_users" )';

    var i18n_available_validationRuleGroups = '$i18n.getString( "available_validationRuleGroups" )';
    var i18n_selected_validationRuleGroups = '$i18n.getString( "selected_validationRuleGroups" )';

    var i18n_available_validationRules = '$i18n.getString( "available_validationRules" )';
    var i18n_selected_validationRules = '$i18n.getString( "selected_validationRules" )';

    var i18n_filter = '$i18n.getString( "filter" )';
    var i18n_start_date = '$i18n.getString( "start_date" )';
    var i18n_end_date = '$i18n.getString( "end_date" )';

    var i18n_move_selected = '$i18n.getString( "move_selected" )';
    var i18n_remove_selected = '$i18n.getString( "remove_selected" )';
    var i18n_move_all = '$i18n.getString( "move_all" )';
    var i18n_remove_all = '$i18n.getString( "remove_all" )';

    var startDate = '$!startDate';
    var endDate = '$!endDate';
</script>

<h2>$i18n.getString( "metadata_subset_export" )</h2>

<!-- EXPORT FORM -->
<!-- ACTION METHOD HERE -->
<form id="exportForm" name="exportForm" method="post" action="">

    <div>
        <!-- ATTRIBUTES SELECTION -->
        <div style="margin: 5px;">
            <input id="attributes" class="metadataCheckbox" name="Attributes" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelAttributes" for="attributes" style="font-size: 14px;">$i18n.getString( "attributes" )</label>
            <div id="mainDivAttributes"></div>
        </div>
        <!-- CATEGORIES SELECTION -->
        <div style="margin: 5px;">
            <input id="dataElementCategories" class="metadataCheckbox" name="DataElementCategories" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelDataElementCategories" for="dataElementCategories" style="font-size: 14px;">$i18n.getString( "categories" )</label>
            <div id="mainDivDataElementCategories"></div>
        </div>
        <!-- CHARTS SELECTION -->
        <div style="margin: 5px;">
            <input id="charts" class="metadataCheckbox" name="Charts" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelCharts" for="charts" style="font-size: 14px;">$i18n.getString( "charts" )</label>
            <div id="mainDivCharts"></div>
        </div>
        <!-- CONCEPTS SELECTION -->
        <div style="margin: 5px;">
            <input id="concepts" class="metadataCheckbox" name="Concepts" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelConcepts" for="concepts" style="font-size: 14px;">$i18n.getString( "concepts" )</label>
            <div id="mainDivConcepts"></div>
        </div>
        <!-- CONSTANTS SELECTION -->
        <div style="margin: 5px;">
            <input id="constants" class="metadataCheckbox" name="Constants" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelConstants" for="constants" style="font-size: 14px;">$i18n.getString( "constants" )</label>
            <div id="mainDivConstants"></div>
        </div>
        <!-- DATA DICTIONARIES SELECTION -->
        <div style="margin: 5px;">
            <input id="dataDictionaries" class="metadataCheckbox" name="DataDictionaries" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelDataDictionaries" for="dataDictionaries" style="font-size: 14px;">$i18n.getString( "data_dictionaries" )</label>
            <div id="mainDivDataDictionaries"></div>
        </div>
        <!-- DATA ELEMENT GROUP SETS SELECTION -->
        <div style="margin: 5px;">
            <input id="dataElementGroupSets" class="metadataCheckbox" name="DataElementGroupSets" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelDataElementGroupSets" for="dataElementGroupSets" style="font-size: 14px;">$i18n.getString( "data_element_group_sets" )</label>
            <div id="mainDivDataElementGroupSets"></div>
        </div>
        <!-- DATA ELEMENT GROUPS SELECTION -->
        <div style="margin: 5px;">
            <input id="dataElementGroups" class="metadataCheckbox" name="DataElementGroups" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelDataElementGroups" for="dataElementGroups" style="font-size: 14px;">$i18n.getString( "data_element_groups" )</label>
            <div id="mainDivDataElementGroups"></div>
        </div>
        <!-- DATA ELEMENTS SELECTION -->
        <div style="margin: 5px;">
            <input id="dataElements" class="metadataCheckbox" name="DataElements" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelDataElements" for="dataElements" style="font-size: 14px;">$i18n.getString( "data_elements" )</label>
            <div id="mainDivDataElements"></div>
        </div>
        <!-- DATA SETS SELECTION -->
        <div style="margin: 5px;">
            <input id="dataSets" class="metadataCheckbox" name="DataSets" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelDataSets" for="dataSets" style="font-size: 14px;">$i18n.getString( "data_sets" )</label>
            <div id="mainDivDataSets"></div>
        </div>
        <!-- DOCUMENTS SELECTION -->
        <div style="margin: 5px;">
            <input id="documents" class="metadataCheckbox" name="Documents" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelDocuments" for="documents" style="font-size: 14px;">$i18n.getString( "documents" )</label>
            <div id="mainDivDocuments"></div>
        </div>
        <!-- INDICATOR GROUP SETS SELECTION -->
        <div style="margin: 5px;">
            <input id="indicatorGroupSets" class="metadataCheckbox" name="IndicatorGroupSets" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelIndicatorGroupSets" for="indicatorGroupSets" style="font-size: 14px;">$i18n.getString( "indicator_group_sets" )</label>
            <div id="mainDivIndicatorGroupSets"></div>
        </div>
        <!-- INDICATOR GROUP SETS SELECTION -->
        <div style="margin: 5px;">
            <input id="indicatorGroups" class="metadataCheckbox" name="IndicatorGroups" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelIndicatorGroups" for="indicatorGroups" style="font-size: 14px;">$i18n.getString( "indicator_groups" )</label>
            <div id="mainDivIndicatorGroups"></div>
        </div>
        <!-- INDICATOR TYPES SELECTION -->
        <div style="margin: 5px;">
            <input id="indicatorTypes" class="metadataCheckbox" name="IndicatorTypes" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelIndicatorTypes" for="indicatorTypes" style="font-size: 14px;">$i18n.getString( "indicator_types" )</label>
            <div id="mainDivIndicatorTypes"></div>
        </div>
        <!-- INDICATORS SELECTION -->
        <div style="margin: 5px;">
            <input id="indicators" class="metadataCheckbox" name="Indicators" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelIndicators" for="indicators" style="font-size: 14px;">$i18n.getString( "indicators" )</label>
            <div id="mainDivIndicators"></div>
        </div>
        <!-- MAP LEGEND SETS SELECTION -->
        <div style="margin: 5px;">
            <input id="mapLegendSets" class="metadataCheckbox" name="MapLegendSets" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelMapLegendSets" for="mapLegendSets" style="font-size: 14px;">$i18n.getString( "map_legend_sets" )</label>
            <div id="mainDivMapLegendSets"></div>
        </div>
        <!-- MAPS SELECTION -->
        <div style="margin: 5px;">
            <input id="maps" class="metadataCheckbox" name="Maps" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelMaps" for="maps" style="font-size: 14px;">$i18n.getString( "maps" )</label>
            <div id="mainDivMaps"></div>
        </div>
        <!-- OPTION SETS SELECTION -->
        <div style="margin: 5px;">
            <input id="optionSets" class="metadataCheckbox" name="OptionSets" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelOptionSets" for="optionSets" style="font-size: 14px;">$i18n.getString( "option_sets" )</label>
            <div id="mainDivOptionSets"></div>
        </div>
        <!-- ORGANISATION UNIT GROUP SETS SELECTION -->
        <div style="margin: 5px;">
            <input id="organisationUnitGroupSets" class="metadataCheckbox" name="OrganisationUnitGroupSets" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelOrganisationUnitGroupSets" for="organisationUnitGroupSets" style="font-size: 14px;">$i18n.getString( "organisation_unit_group_sets" )</label>
            <div id="mainDivOrganisationUnitGroupSets"></div>
        </div>
        <!-- ORGANISATION UNIT GROUPS SELECTION -->
        <div style="margin: 5px;">
            <input id="organisationUnitGroups" class="metadataCheckbox" name="OrganisationUnitGroups" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelOrganisationUnitGroups" for="organisationUnitGroups" style="font-size: 14px;">$i18n.getString( "organisation_unit_groups" )</label>
            <div id="mainDivOrganisationUnitGroups"></div>
        </div>
        <!-- ORGANISATION UNIT LEVELS SELECTION -->
        <div style="margin: 5px;">
            <input id="organisationUnitLevels" class="metadataCheckbox" name="OrganisationUnitLevels" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelOrganisationUnitLevels" for="organisationUnitLevels" style="font-size: 14px;">$i18n.getString( "organisation_unit_levels" )</label>
            <div id="mainDivOrganisationUnitLevels"></div>
        </div>
        <!-- ORGANISATION UNITS SELECTION -->
        <div style="margin: 5px;">
            <input id="organisationUnits" class="metadataCheckbox" name="OrganisationUnits" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelOrganisationUnits" for="organisationUnits" style="font-size: 14px;">$i18n.getString( "organisation_units" )</label>
            <div id="mainDivOrganisationUnits"></div>
        </div>
        <!-- REPORT TABLES SELECTION -->
        <div style="margin: 5px;">
            <input id="reportTables" class="metadataCheckbox" name="ReportTables" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelReportTables" for="reportTables" style="font-size: 14px;">$i18n.getString( "report_tables" )</label>
            <div id="mainDivReportTables"></div>
        </div>
        <!-- REPORT TABLES SELECTION -->
        <div style="margin: 5px;">
            <input id="reports" class="metadataCheckbox" name="Reports" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelReports" for="reports" style="font-size: 14px;">$i18n.getString( "reports" )</label>
            <div id="mainDivReports"></div>
        </div>
        <!-- SQL VIEWS SELECTION -->
        <div style="margin: 5px;">
            <input id="sqlViews" class="metadataCheckbox" name="SqlViews" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelSqlViews" for="sqlViews" style="font-size: 14px;">$i18n.getString( "sql_views" )</label>
            <div id="mainDivSqlViews"></div>
        </div>
        <!-- USER GROUPS SELECTION -->
        <div style="margin: 5px;">
            <input id="userGroups" class="metadataCheckbox" name="UserGroups" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelUserGroups" for="userGroups" style="font-size: 14px;">$i18n.getString( "user_groups" )</label>
            <div id="mainDivUserGroups"></div>
        </div>
        <!-- USER ROLES SELECTION -->
        <div style="margin: 5px;">
            <input id="userRoles" class="metadataCheckbox" name="UserRoles" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelUserRoles" for="userRoles" style="font-size: 14px;">$i18n.getString( "user_roles" )</label>
            <div id="mainDivUserRoles"></div>
        </div>
        <!-- USERS SELECTION -->
        <div style="margin: 5px;">
            <input id="users" class="metadataCheckbox" name="Users" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelUsers" for="users" style="font-size: 14px;">$i18n.getString( "users" )</label>
            <div id="mainDivUsers"></div>
        </div>
        <!-- VALIDATION RULE GROUPS SELECTION -->
        <div style="margin: 5px;">
            <input id="validationRuleGroups" class="metadataCheckbox" name="ValidationRuleGroups" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelValidationRuleGroups" for="validationRuleGroups" style="font-size: 14px;">$i18n.getString( "validation_rule_groups" )</label>
            <div id="mainDivValidationRuleGroups"></div>
        </div>
        <!-- VALIDATION RULES SELECTION -->
        <div style="margin: 5px;">
            <input id="validationRules" class="metadataCheckbox" name="ValidationRules" type="checkbox" value="true" style="float: left; width: 25px;"/>
            <label id="labelValidationRules" for="validationRules" style="font-size: 14px;">$i18n.getString( "validation_rules" )</label>
            <div id="mainDivValidationRules"></div>
        </div>
    </div>

    <table>
        <tr>
            <td colspan="2">
                <input type="button" value="$i18n.getString( 'select_all' )" style="width:100px;"
                       onclick="selectAll();"/>
                <input type="button" value="$i18n.getString( 'select_none' )" style="width:100px;"
                       onclick="selectNone();"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <select id="format" style="width: 204px;">
                    <option value="xml">XML</option>
                    <option value="json">Json</option>
                </select>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <select id="compression" style="width: 204px;">
                    <option value="zip">Zipped</option>
                    <option value="gz">GZipped</option>
                    <option value="uncompressed">Uncompressed</option>
                </select>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="button" value="$i18n.getString( 'export' )" style="width:204px;"
                       onclick="exportMetaData();"/>
            </td>
        </tr>
    </table>
</form>
