<script>
    var i18n_attributeTypes = '$i18n.getString( "attribute_types" )';
    var i18n_select_all_attributeTypes = '$i18n.getString( "select_all_attribute_types" )';
    var i18n_available_attributeTypes = '$i18n.getString( "available_attribute_types" )';
    var i18n_selected_attributeTypes = '$i18n.getString( "selected_attribute_types" )';

    var i18n_categories = '$i18n.getString( "categories" )';
    var i18n_select_all_categories = '$i18n.getString( "select_all_categories" )';
    var i18n_available_categories = '$i18n.getString( "available_categories" )';
    var i18n_selected_categories = '$i18n.getString( "selected_categories" )';

    var i18n_charts = '$i18n.getString( "charts" )';
    var i18n_select_all_charts = '$i18n.getString( "select_all_charts" )';
    var i18n_available_charts = '$i18n.getString( "available_charts" )';
    var i18n_selected_charts = '$i18n.getString( "selected_charts" )';

    var i18n_concepts = '$i18n.getString( "concepts" )';
    var i18n_select_all_concepts = '$i18n.getString( "select_all_concepts" )';
    var i18n_available_concepts = '$i18n.getString( "available_concepts" )';
    var i18n_selected_concepts = '$i18n.getString( "selected_concepts" )';

    var i18n_constants = '$i18n.getString( "constants" )';
    var i18n_select_all_constants = '$i18n.getString( "select_all_constants" )';
    var i18n_available_constants = '$i18n.getString( "available_constants" )';
    var i18n_selected_constants = '$i18n.getString( "selected_constants" )';

    var i18n_dataDictionaries = '$i18n.getString( "data_dictionaries" )';
    var i18n_select_all_dataDictionaries = '$i18n.getString( "select_all_data_dictionaries" )';
    var i18n_available_dataDictionaries = '$i18n.getString( "available_dataDictionaries" )';
    var i18n_selected_dataDictionaries = '$i18n.getString( "selected_dataDictionaries" )';

    var i18n_dataElementGroupSets = '$i18n.getString( "data_element_group_sets" )';
    var i18n_select_all_dataElementGroupSets = '$i18n.getString( "select_all_data_element_group_sets" )';
    var i18n_available_dataElementGroupSets = '$i18n.getString( "available_dataElementGroupSets" )';
    var i18n_selected_dataElementGroupSets = '$i18n.getString( "selected_dataElementGroupSets" )';

    var i18n_dataElementGroups = '$i18n.getString( "data_element_groups" )';
    var i18n_select_all_dataElementGroups = '$i18n.getString( "select_all_data_element_groups" )';
    var i18n_available_dataElementGroups = '$i18n.getString( "available_dataElementGroups" )';
    var i18n_selected_dataElementGroups = '$i18n.getString( "selected_dataElementGroups" )';

    var i18n_dataElements = '$i18n.getString( "data_elements" )';
    var i18n_select_all_dataElements = '$i18n.getString( "select_all_data_elements" )';
    var i18n_available_dataElements = '$i18n.getString( "available_data_elements" )';
    var i18n_selected_dataElements = '$i18n.getString( "selected_data_elements" )';

    var i18n_dataSets = '$i18n.getString( "data_sets" )';
    var i18n_select_all_dataSets = '$i18n.getString( "select_all_data_sets" )';
    var i18n_available_dataSets = '$i18n.getString( "available_datasets" )';
    var i18n_selected_dataSets = '$i18n.getString( "selected_datasets" )';

    var i18n_documents = '$i18n.getString( "documents" )';
    var i18n_select_all_documents = '$i18n.getString( "select_all_documents" )';
    var i18n_available_documents = '$i18n.getString( "available_documents" )';
    var i18n_selected_documents = '$i18n.getString( "selected_documents" )';

    var i18n_indicatorGroupSets = '$i18n.getString( "indicator_group_sets" )';
    var i18n_select_all_indicatorGroupSets = '$i18n.getString( "select_all_indicator_group_sets" )';
    var i18n_available_indicatorGroupSets = '$i18n.getString( "available_indicatorGroupSets" )';
    var i18n_selected_indicatorGroupSets = '$i18n.getString( "selected_indicatorGroupSets" )';

    var i18n_indicatorGroups = '$i18n.getString( "indicator_groups" )';
    var i18n_select_all_indicatorGroups = '$i18n.getString( "select_all_indicator_groups" )';
    var i18n_available_indicatorGroups = '$i18n.getString( "available_indicatorGroups" )';
    var i18n_selected_indicatorGroups = '$i18n.getString( "selected_indicatorGroups" )';

    var i18n_indicatorTypes = '$i18n.getString( "indicator_types" )';
    var i18n_select_all_indicatorTypes = '$i18n.getString( "select_all_indicator_types" )';
    var i18n_available_indicatorTypes = '$i18n.getString( "available_indicatorTypes" )';
    var i18n_selected_indicatorTypes = '$i18n.getString( "selected_indicatorTypes" )';

    var i18n_indicators = '$i18n.getString( "indicators" )';
    var i18n_select_all_indicators = '$i18n.getString( "select_all_indicators" )';
    var i18n_available_indicators = '$i18n.getString( "available_indicators" )';
    var i18n_selected_indicators = '$i18n.getString( "selected_indicators" )';

    var i18n_mapLegendSets = '$i18n.getString( "map_legend_sets" )';
    var i18n_select_all_mapLegendSets = '$i18n.getString( "select_all_map_legend_sets" )';
    var i18n_available_mapLegendSets = '$i18n.getString( "available_mapLegendSets" )';
    var i18n_selected_mapLegendSets = '$i18n.getString( "selected_mapLegendSets" )';

    var i18n_maps = '$i18n.getString( "maps" )';
    var i18n_select_all_maps = '$i18n.getString( "select_all_maps" )';
    var i18n_available_maps = '$i18n.getString( "available_maps" )';
    var i18n_selected_maps = '$i18n.getString( "selected_maps" )';

    var i18n_optionSets = '$i18n.getString( "option_sets" )';
    var i18n_select_all_optionSets = '$i18n.getString( "select_all_option_sets" )';
    var i18n_available_optionSets = '$i18n.getString( "available_optionSets" )';
    var i18n_selected_optionSets = '$i18n.getString( "selected_optionSets" )';

    var i18n_organisationUnitGroupSets = '$i18n.getString( "organisation_unit_group_sets" )';
    var i18n_select_all_organisationUnitGroupSets = '$i18n.getString( "select_all_organisation_unit_group_sets" )';
    var i18n_available_organisationUnitGroupSets = '$i18n.getString( "available_organisationUnitGroupSets" )';
    var i18n_selected_organisationUnitGroupSets = '$i18n.getString( "selected_organisationUnitGroupSets" )';

    var i18n_organisationUnitGroups = '$i18n.getString( "organisation_unit_groups" )';
    var i18n_select_all_organisationUnitGroups = '$i18n.getString( "select_all_organisation_unit_groups" )';
    var i18n_available_organisationUnitGroups = '$i18n.getString( "available_organisationUnitGroups" )';
    var i18n_selected_organisationUnitGroups = '$i18n.getString( "selected_organisationUnitGroups" )';

    var i18n_organisationUnitLevels = '$i18n.getString( "organisation_unit_levels" )';
    var i18n_select_all_organisationUnitLevels = '$i18n.getString( "select_all_organisation_unit_levels" )';
    var i18n_available_organisationUnitLevels = '$i18n.getString( "available_organisationUnitLevels" )';
    var i18n_selected_organisationUnitLevels = '$i18n.getString( "selected_organisationUnitLevels" )';

    var i18n_organisationUnits = '$i18n.getString( "organisation_units" )';
    var i18n_select_all_organisationUnits = '$i18n.getString( "select_all_organisation_units" )';
    var i18n_available_organisationUnits = '$i18n.getString( "available_organisationUnits" )';
    var i18n_selected_organisationUnits = '$i18n.getString( "selected_organisationUnits" )';

    var i18n_reportTables = '$i18n.getString( "report_tables" )';
    var i18n_select_all_reportTables = '$i18n.getString( "select_all_report_tables" )';
    var i18n_available_reportTables = '$i18n.getString( "available_reportTables" )';
    var i18n_selected_reportTables = '$i18n.getString( "selected_reportTables" )';

    var i18n_reports = '$i18n.getString( "reports" )';
    var i18n_select_all_reports = '$i18n.getString( "select_all_reports" )';
    var i18n_available_reports = '$i18n.getString( "available_reports" )';
    var i18n_selected_reports = '$i18n.getString( "selected_reports" )';

    var i18n_sqlViews = '$i18n.getString( "sql_views" )';
    var i18n_select_all_sqlViews = '$i18n.getString( "select_all_sql_views" )';
    var i18n_available_sqlViews = '$i18n.getString( "available_sqlViews" )';
    var i18n_selected_sqlViews = '$i18n.getString( "selected_sqlViews" )';

    var i18n_userGroups = '$i18n.getString( "user_groups" )';
    var i18n_select_all_userGroups = '$i18n.getString( "select_all_user_groups" )';
    var i18n_available_userGroups = '$i18n.getString( "available_userGroups" )';
    var i18n_selected_userGroups = '$i18n.getString( "selected_userGroups" )';

    var i18n_userRoles = '$i18n.getString( "user_roles" )';
    var i18n_select_all_userRoles = '$i18n.getString( "select_all_user_roles" )';
    var i18n_available_userRoles = '$i18n.getString( "available_userRoles" )';
    var i18n_selected_userRoles = '$i18n.getString( "selected_userRoles" )';

    var i18n_users = '$i18n.getString( "users" )';
    var i18n_select_all_users = '$i18n.getString( "select_all_users" )';
    var i18n_available_users = '$i18n.getString( "available_users" )';
    var i18n_selected_users = '$i18n.getString( "selected_users" )';

    var i18n_validationRuleGroups = '$i18n.getString( "validation_rule_groups" )';
    var i18n_select_all_validationRuleGroups = '$i18n.getString( "select_all_validation_rule_groups" )';
    var i18n_available_validationRuleGroups = '$i18n.getString( "available_validationRuleGroups" )';
    var i18n_selected_validationRuleGroups = '$i18n.getString( "selected_validationRuleGroups" )';

    var i18n_validationRules = '$i18n.getString( "validation_rules" )';
    var i18n_select_all_validationRules = '$i18n.getString( "select_all_validation_rules" )';
    var i18n_available_validationRules = '$i18n.getString( "available_validationRules" )';
    var i18n_selected_validationRules = '$i18n.getString( "selected_validationRules" )';

    var i18n_move_selected = '$i18n.getString( "move_selected" )';
    var i18n_remove_selected = '$i18n.getString( "remove_selected" )';
    var i18n_move_all = '$i18n.getString( "move_all" )';
    var i18n_remove_all = '$i18n.getString( "remove_all" )';
    var i18n_filter = '$i18n.getString( "filter" )';
</script>
##@author Ovidiu Rosu <rosu.ovi@gmail.com>

<h3>$i18n.getString( "metadata_detailed_import" ) #openHelp( "detailed_metadata_import" )</h3>

<!-- METADATA ACCORDION -->
<div id="mainDivAccordion" style="margin-bottom: 10px; margin-top: 10px; width: 90%;">
    <!-- ATTRIBUTES TYPES SELECTION -->
    <h6 id="headingAttributeTypes" style="font-size: 10pt; display: none;">$i18n.getString( "attribute_types" )</h6>

    <div id="divAttributeTypes" style="margin: 5px; display: none;"></div>

    <!-- CATEGORIES SELECTION -->
    <h6 id="headingDimensions" style="font-size: 10pt; display: none;">$i18n.getString( "categories" )</h6>

    <div id="divDimensions" style="margin: 5px; display: none;"></div>

    <!-- CHARTS SELECTION -->
    <h6 id="headingCharts" style="font-size: 10pt; display: none;">$i18n.getString( "charts" )</h6>

    <div id="divCharts" style="margin: 5px; display: none;"></div>

    <!-- CONCEPTS SELECTION -->
    <h6 id="headingConcepts" style="font-size: 10pt; display: none;">$i18n.getString( "concepts" )</h6>

    <div id="divConcepts" style="margin: 5px; display: none;"></div>

    <!-- CONSTANTS SELECTION -->
    <h6 id="headingConstants" style="font-size: 10pt; display: none;">$i18n.getString( "constants" )</h6>

    <div id="divConstants" style="margin: 5px; display: none;"></div>

    <!-- DATA DICTIONARIES SELECTION -->
    <h6 id="headingDataDictionaries" style="font-size: 10pt; display: none;">$i18n.getString( "data_dictionaries" )</h6>

    <div id="divDataDictionaries" style="margin: 5px; display: none;"></div>

    <!-- DATA ELEMENT GROUP SETS SELECTION -->
    <h6 id="headingDataElementGroupSets" style="font-size: 10pt; display: none;">$i18n.getString( "data_element_group_sets" )</h6>

    <div id="divDataElementGroupSets" style="margin: 5px; display: none;"></div>

    <!-- DATA ELEMENT GROUPS SELECTION -->
    <h6 id="headingDataElementGroups" style="font-size: 10pt; display: none;">$i18n.getString( "data_element_groups" )</h6>

    <div id="divDataElementGroups" style="margin: 5px; display: none;"></div>

    <!-- DATA ELEMENTS SELECTION -->
    <h6 id="headingDataElements" style="font-size: 10pt; display: none;">$i18n.getString( "data_elements" )</h6>

    <div id="divDataElements" style="margin: 5px; display: none;"></div>

    <!-- DATA SETS SELECTION -->
    <h6 id="headingDataSets" style="font-size: 10pt; display: none;">$i18n.getString( "data_sets" )</h6>

    <div id="divDataSets" style="margin: 5px; display: none;"></div>

    <!-- DOCUMENTS SELECTION -->
    <h6 id="headingDocuments" style="font-size: 10pt; display: none;">$i18n.getString( "documents" )</h6>

    <div id="divDocuments" style="margin: 5px; display: none;"></div>

    <!-- INDICATOR GROUP SETS SELECTION -->
    <h6 id="headingIndicatorGroupSets" style="font-size: 10pt; display: none;">$i18n.getString( "indicator_group_sets" )</h6>

    <div id="divIndicatorGroupSets" style="margin: 5px; display: none;"></div>

    <!-- INDICATOR GROUPS SELECTION -->
    <h6 id="headingIndicatorGroups" style="font-size: 10pt; display: none;">$i18n.getString( "indicator_groups" )</h6>

    <div id="divIndicatorGroups" style="margin: 5px; display: none;"></div>

    <!-- INDICATOR TYPES SELECTION -->
    <h6 id="headingIndicatorTypes" style="font-size: 10pt; display: none;">$i18n.getString( "indicator_types" )</h6>

    <div id="divIndicatorTypes" style="margin: 5px; display: none;"></div>

    <!-- INDICATORS SELECTION -->
    <h6 id="headingIndicators" style="font-size: 10pt; display: none;">$i18n.getString( "indicators" )</h6>

    <div id="divIndicators" style="margin: 5px; display: none;"></div>

    <!-- MAP LEGEND SETS SELECTION -->
    <h6 id="headingMapLegendSets" style="font-size: 10pt; display: none;">$i18n.getString( "map_legend_sets" )</h6>

    <div id="divMapLegendSets" style="margin: 5px; display: none;"></div>

    <!-- MAPS SELECTION -->
    <h6 id="headingMaps" style="font-size: 10pt; display: none;">$i18n.getString( "maps" )</h6>

    <div id="divMaps" style="margin: 5px; display: none;"></div>

    <!-- OPTION SETS SELECTION -->
    <h6 id="headingOptionSets" style="font-size: 10pt; display: none;">$i18n.getString( "option_sets" )</h6>

    <div id="divOptionSets" style="margin: 5px; display: none;"></div>

    <!-- ORGANISATION UNIT GROUP SETS SELECTION -->
    <h6 id="headingOrganisationUnitGroupSets" style="font-size: 10pt; display: none;">$i18n.getString( "organisation_unit_group_sets" )</h6>

    <div id="divOrganisationUnitGroupSets" style="margin: 5px; display: none;"></div>

    <!-- ORGANISATION UNIT GROUPS SELECTION -->
    <h6 id="headingOrganisationUnitGroups" style="font-size: 10pt; display: none;">$i18n.getString( "organisation_unit_groups" )</h6>

    <div id="divOrganisationUnitGroups" style="margin: 5px; display: none;"></div>

    <!-- ORGANISATION UNIT LEVELS SELECTION -->
    <h6 id="headingOrganisationUnitLevels" style="font-size: 10pt; display: none;">$i18n.getString( "organisation_unit_levels" )</h6>

    <div id="divOrganisationUnitLevels" style="margin: 5px; display: none;"></div>

    <!-- ORGANISATION UNITS SELECTION -->
    <h6 id="headingOrganisationUnits" style="font-size: 10pt; display: none;">$i18n.getString( "organisation_units" )</h6>

    <div id="divOrganisationUnits" style="margin: 5px; display: none;"></div>

    <!-- REPORT TABLES SELECTION -->
    <h6 id="headingReportTables" style="font-size: 10pt; display: none;">$i18n.getString( "report_tables" )</h6>

    <div id="divReportTables" style="margin: 5px; display: none;"></div>

    <!-- REPORTS SELECTION -->
    <h6 id="headingReports" style="font-size: 10pt; display: none;">$i18n.getString( "reports" )</h6>

    <div id="divReports" style="margin: 5px; display: none;"></div>

    <!-- SQL VIEWS SELECTION -->
    <h6 id="headingSqlViews" style="font-size: 10pt; display: none;">$i18n.getString( "sql_views" )</h6>

    <div id="divSqlViews" style="margin: 5px; display: none;"></div>

    <!-- USER GROUPS SELECTION -->
    <h6 id="headingUserGroups" style="font-size: 10pt; display: none;">$i18n.getString( "user_groups" )</h6>

    <div id="divUserGroups" style="margin: 5px; display: none;"></div>

    <!-- USER ROLES SELECTION -->
    <h6 id="headingUserRoles" style="font-size: 10pt; display: none;">$i18n.getString( "user_roles" )</h6>

    <div id="divUserRoles" style="margin: 5px; display: none;"></div>

    <!-- USERS SELECTION -->
    <h6 id="headingUsers" style="font-size: 10pt; display: none;">$i18n.getString( "users" )</h6>

    <div id="divUsers" style="margin: 5px; display: none;"></div>

    <!-- VALIDATION RULE GROUPS SELECTION -->
    <h6 id="headingValidationRuleGroups" style="font-size: 10pt; display: none;">$i18n.getString( "validation_rule_groups" )</h6>

    <div id="divValidationRuleGroups" style="margin: 5px; display: none;"></div>

    <!-- VALIDATION RULES SELECTION -->
    <h6 id="headingValidationRules" style="font-size: 10pt; display: none;">$i18n.getString( "validation_rules" )</h6>

    <div id="divValidationRules" style="margin: 5px; display: none;"></div>
</div>

<!-- METADATA ACCORDION COMMANDS -->
<div id="metaDataCommands" style="display: none; margin-bottom: 10px;">
    <table id="detailsList">
        <tr>
            <td colspan="2">
                <input type="button" value="$i18n.getString( 'select_all_tables' )" style="width:125px;" onclick="selectAllCheckboxes();"/>
                <input type="button" value="$i18n.getString( 'deselect_all_tables' )" style="width:125px;" onclick="deselectAllCheckboxes();"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" value="$i18n.getString( 'select_all_values' )" style="width:125px;" onclick="selectAllValues();"/>
                <input type="button" value="$i18n.getString( 'deselect_all_values' )" style="width:125px;" onclick="deselectAllValues();"/>
            </td>
        </tr>
    </table>
</div>

<!-- IMPORT -->
<div id="inputCriteria" class="inputCriteria" style="width: 380px">
    <div>
        <form id="loadFile" name="loadFile" method="post" enctype="multipart/form-data" action="dxf2DetailedMetaDataImport.action">
            <table>
                <col width="140">
                <col>
                <tr>
                    <td>$i18n.getString( "file" )</td>
                    <td style="padding-left: 115px;"><input type="file" id="upload" name="upload"></td>
                </tr>
            </table>
        </form>
    </div>
    <div>
        <form id="importForm" name="importForm" method="post" action="importDetailedMetaData.action">
            <input type="hidden" id="metaDataJson" name="metaDataJson" value='$metaDataJson'>
            <table>
                <col width="140">
                <col>
                <tr>
                    <td>$i18n.getString( "dry_run" )</td>
                    <td>
                        <select id="dryRun" name="dryRun" style="width:190px">
                            <option value="false">$i18n.getString( "no" )</option>
                            <option value="true">$i18n.getString( "yes" )</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>$i18n.getString( "strategy" )</td>
                    <td>
                        <select id="strategy" name="strategy" style="width:190px">
                            <option value="NEW_AND_UPDATES">$i18n.getString( "new_and_updates" )</option>
                            <option value="NEW">$i18n.getString( "new_only" )</option>
                            <option value="UPDATES">$i18n.getString( "updates_only" )</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="button" value="$i18n.getString( 'import' )" style="width:120px" onclick="importDetailedMetaData()"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div id="notificationDiv">
    <table id="notificationTable" class="notificationTable" style="display:none">
        <col width="120">
        <col width="380">
    </table>
</div>

<div id="importSummaryDiv" class="page formSection" style="display:none; width:80%; padding-bottom:20px;"></div>
