<script>
    var i18n_validate_filter = '$i18n.getString( "validate_filter" )';
</script>

<h3>$i18n.getString( "update_filter" )</h3>

<form id="formFilter" name="formFilter">
    <input type="hidden" id="uid" name="uid" value="$filter.uid" />
    <table id="detailsList" style="width: 600px;">
        <col/> ## Labels
        <col/> ## Input
        <thead>
        <tr>
            <th colspan="2">$i18n.getString( "filter_details" )</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><label>$i18n.getString( "name" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
            <td>
                <input type="text" id="name" name="name" value="$filter.name" style="width: 95%;">
            </td>
        </tr>
        <tr>
            <td><label>$i18n.getString( "code" )</label></td>
            <td>
                <input type="text" id="code" name="code" value="$filter.code" style="width: 95%;">
            </td>
        </tr>
        <tr>
            <td><label>$i18n.getString( "filter_metaData_uids" )</label></td>
            <td>
                <textarea id="metaDataUids" name="metaDataUids" rows="10" cols="63" style="width: 95%;">$filter.metaDataUids</textarea>
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" value="$i18n.getString( 'update' )" onclick="updateFilter();" style="width:120px" />
            </td>
            <td>
                <input type="button" value="$i18n.getString( 'go_back' )" onclick="window.history.back();" style="float: left; width:120px" />
            </td>
        </tr>
        </tbody>
    </table>
</form>
