<h2>ReturnPage</h2>

<p>
<ul>
	<li>Recently RegisteredLink</li>
</ul>
</p>

<div id="footer">
<h2>$i18n.getString( "navigate_to" )</h2>
<ul>
	<li><a href="index.action">$i18n.getString("home")</a></li>
</ul>
</div>

