<div class="info_container-1-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            {{'person_profile'| translate}}
        </div>
        <div class="list-group">            	
            <div class="list-group-item"><strong>{{'full_name'| translate}}:</strong> {{person.name}}</div>
            <div class="list-group-item" ng-repeat="attribute in person.attributes"><strong>{{attribute.displayName}}:</strong> {{attribute.value}}</div>            
        </div>
    </div>
</div>

<!--<div class="info_container-1-2">
    <div ng-include="'views/anc/con.html'"></div>
</div> -->