
<h2>
	{{'person_registration' | translate}}
</h2>

<form name="registrationForm" novalidate ng-submit="saveAndRegisterPregnancy()">
	
	<div class="data-entry-row-1-1">
	    <div class="data-entry-row-1-3">{{'name' | translate}}</div>
	    <div class="data-entry-row-2-3"><input type="text" required ng-minlength="3" ng-model="person.name"/></div>
	</div>
	
	<div class="data-entry-row-1-1">
	    <div class="data-entry-row-1-3">{{'date_of_birth' | translate}}</div>
	    <div class="data-entry-row-2-3"><input type="date" required ng-model="person.dateOfBirth.date"/></div>
	</div>
	
	<div class="data-entry-row-1-1">
	    <div class="data-entry-row-1-3">{{'mobile_phone' | translate}}</div>
	    <div class="data-entry-row-2-3"><input type="text" ng-model="person.contact.phoneNumber"/></div>
	</div>
	
	<div ng-repeat="registrationAttribute in registrationAttributes">
		<div class="data-entry-row-1-1">
			<div class="data-entry-row-1-3">
				{{registrationAttribute.name}}
			</div>
			<div ng-switch="registrationAttribute.valueType">
				<div ng-switch-when="number">
					<div class="data-entry-row-2-3">
						<input type="number" ng-model="registrationAttribute.value">						
					</div>
				</div>
				<div ng-switch-when="string">
					<div class="data-entry-row-2-3">
						<input type="text" ng-model="registrationAttribute.value">						
					</div>
				</div>
				<div ng-switch-when="trueOnly">
					<div class="data-entry-row-2-3">
						<input type="checkbox" ng-model="registrationAttribute.value">						
					</div>
				</div>
				<div ng-switch-when="date">
					<div class="data-entry-row-2-3">
						<input type="date" ng-model="registrationAttribute.value">						
					</div>
				</div>
				<div ng-switch-when="combo">
					<div class="data-entry-row-2-3">		
						<select ng-model="registrationAttribute.value" ng-options="option.value as option.name for option in registrationAttribute.personAttributeOptions">
							<option value="">{{'please_select' | translate}}</option>
						</select>						
					</div>
				</div>				
				<div ng-switch-when="bool">
					<div class="data-entry-row-2-3">
						<select ng-model="registrationAttribute.value">
							<option value="">{{'please_select' | translate}}</option>
							<option value="FALSE">{{'no' | translate}}</option>
							<option value="TRUE">{{'yes' | translate}}</option>	
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>	

	<div class="margin-top">	
		<input type="submit" class="big-button lightblue" value="{{'save_and_register_pregnancy' | translate}}">
		<button ng-click="cancel()" class="big-button grey">{{'cancel' | translate}}</button>		
	</div>
</form>