<legend>
    {{'settings'| translate}}
</legend>

<p>
    {{'select_orgunit'| translate}}
</p>
<div class="container-1-4">
     <div ng-include="'views/orgUnitTree.html'"></div>    
</div>

<div class="container-1-4" style="margin: 20px;">
    <table class="listTable">
        <tr>
            <td>{{'registering_unit'| translate}}</td>
            <td>
                <input type="text" value="{{selectedOrgUnit.name| translate}}" disabled>
            </td>
        </tr>
        <tr>
            <td>{{'program'| translate}}</td>
            <td>
                <select ng-model="selecteProgram" ng-options="program as program.label for program in programs">
                    <option value="">{{'please_select'| translate}}</option>
                </select>
            </td>
        </tr>
    </table>
    <br>
    
    <div>
        <button ng-click="saveSettings()" class="big-button lightblue">{{'save'| translate}}</button>
        <button ng-click="cancel()" class="big-button grey">{{'cancel'| translate}}</button>
    </div>

</div> 



