html * {
	font-family: arial, sans-serif, liberation sans, consolas !important;
	font-size: 11px !important;
}

/* General */

.el-opacity-1 {
	opacity: 1 !important;
}
.el-border-0, .el-border-0 .x-panel-body {
	border: 0 none !important;
}
.el-fontsize-10 {
	font-size: 10px !important;
}

.text-mouseposition-lonlat {
	color: #555;
}

.gis-container-default .x-window-body {
	padding: 8px;
	background: #fff;
}

/* OpenLayers overrides */

.olControlButtonItemActive { /* Panel button */
    background: #555566;
    color: #fff;
    width: 24px;
    height: 24px;
    border-bottom-left-radius: 3px;
    opacity: 0.7;
    cursor: pointer;
    cursor: hand;
    text-align: center;
    font-size: 21px;
    text-shadow: 0 0 1px #ddd;
}
.olControlPanel {
	position: absolute;
	top: 0;
	right: 0;
    border: 0 none;
}

.olControlLayerSwitcher .layersDiv { /* Layer switcher */
	padding-bottom: 10px !important;
	background-color: #fff !important;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	opacity: 0.85;
}
.olControlLayerSwitcher .layersDiv * {
	color: #000;
}

.olControlPermalink { /* Perma link */
	display: none !important;
}

.olControlMousePosition { /* Mouse position */
	background: #fff !important;
	opacity: 0.8 !important;
	right: 0 !important;
	bottom: 0 !important;
	border-top-left-radius: 2px !important;
	padding: 2px 2px 2px 5px !important;
	color: #000 !important;
}
.olControlMousePosition * {
	font-size: 10px !important;
}

.olLayerGoogleCopyright, .olLayerGoogleV3.olLayerGooglePoweredBy {
	display: none;
}

#google-logo {
	background: url('../images/google-logo.png') no-repeat;
	width: 40px;
	height: 13px;
	margin-left: 6px;
	display: inline-block;
	vertical-align: bottom;
	cursor: pointer;
	cursor: hand;
}

/* GIS */

/* Form */

.gis-form-widget .x-form-item-label-left {
	padding-left: 3px;
	color: #444;
}

.gis-form-subtitle,
.gis-form-subtitle .x-panel-body {
	font-weight: bold;
	margin-bottom: 4px;
}

/* Button */

.x-btn-arrow {
	background-image: url('../images/arrow.png') !important;
}

.x-btn-default-toolbar-small-over {
	border-color: #bbb;
	border-radius: 2px;
}

/* Toolbar */

.x-toolbar-default {
	background-image: none;
	background-color: #F3F3F3;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F1F1F1), color-stop(100%, whiteSmoke));
	background-image: -webkit-linear-gradient(top, #F1F1F1,whiteSmoke);
	background-image: -moz-linear-gradient(top, #F1F1F1,whiteSmoke);
	background-image: -o-linear-gradient(top, #F1F1F1,whiteSmoke);
	background-image: -ms-linear-gradient(top, #F1F1F1,whiteSmoke);
	background-image: linear-gradient(top, #F1F1F1,whiteSmoke);
}

	/* Toolbar btn */
	.x-toolbar .x-btn-default-toolbar-small-icon button,
	.x-toolbar .gis-btn-icon-boundary,
	.x-toolbar .gis-btn-icon-thematic1,
	.x-toolbar .gis-btn-icon-thematic2,
	.x-toolbar .gis-btn-icon-facility,
	.x-toolbar .gis-btn-icon-symbol {
		width: 24px !important;
		height: 24px !important;
	}
	.x-toolbar .gis-btn-icon-boundary {
		background: url('../images/boundary.png') no-repeat;
	}
	.x-toolbar .gis-btn-icon-thematic1 {
		background: url('../images/thematic1.png') no-repeat;
	}
	.x-toolbar .gis-btn-icon-thematic2 {
		background: url('../images/thematic2.png') no-repeat;
	}
	.x-toolbar .gis-btn-icon-facility {
		background: url('../images/facility.png') no-repeat;
	}
	.x-toolbar .gis-btn-icon-symbol {
		background: url('../images/symbol.png') no-repeat;
	}

		/* Toolbar btn menu */
		.gis-toolbar-btn-menu { /* Align menu */
			margin-top: 5px;
		}		
		.gis-toolbar-btn-menu .x-panel-body-default { /* Menu border */
			border-radius: 3px;
			border-color: #999;
		}		
		
/* Menu */

.x-menu-body { /* General menu */
	background: #fff !important;
	padding: 0;
}

.gis-toolbar-btn-menu-first { /* Boundary layer menu spacing from viewport */
	left: 3px !important;
}

	/* Menu item */
	.x-menu-item-link { /* Menu item normal */
		line-height: 12px;
		padding-bottom: 6px;
		padding-left: 30px;
	}	
	.x-menu-item-active .x-menu-item-link { /* Menu item hover */
		background: #ddd;
		border-color: #ddd;
		border-radius: 1px;
	}
	.gis-menu-item-first.x-menu-item-active .x-menu-item-link { /* Menu item (first) hover */
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
	}
	.gis-menu-item-last.x-menu-item-active .x-menu-item-link { /* Menu item (first) hover */
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
	}
	
	.gis-menu-item-icon-edit,
	.gis-menu-item-icon-refresh,
	.gis-menu-item-icon-clear,
	.gis-menu-item-icon-labels,
	.gis-menu-item-icon-filter,
	.gis-menu-item-icon-search,
	.gis-menu-item-icon-opacity,
	.gis-menu-item-icon-history {
		left: 6px;
	}	
	.gis-menu-item-icon-edit {
		background: url('../images/edit16.png') no-repeat;
	}
	.gis-menu-item-icon-refresh {
		background: url('../images/refresh16.png') no-repeat;
	}
	.gis-menu-item-icon-clear {
		background: url('../images/clear16.png') no-repeat;
	}
	.gis-menu-item-icon-labels {
		background: url('../images/labels16.png') no-repeat;
	}
	.gis-menu-item-icon-filter {
		background: url('../images/filter16.png') no-repeat;
	}
	.gis-menu-item-icon-search {
		background: url('../images/search16.png') no-repeat;
	}
	.gis-menu-item-icon-opacity {
		background: url('../images/opacity16.png') no-repeat;
	}
	.gis-menu-item-icon-history {
		background: url('../images/history16.png') no-repeat;
	}
	
	.x-menu-item-separator {
		height: 1px;
	}
	.x-menu-item-text {
		font-size: 10px;
	}
	
	
	
	
.x-panel-header	{
	height: 30px;
	padding: 7px 4px 4px 7px;
}
	
