#set( $size = $maps.size() )
{ "maps": [
#foreach( $map in $maps )
{
    "id": ${map.id},
    "name": "$!encoder.jsonEncode( ${map.name} )"
}
    #if( $velocityCount < $size ),#end
#end
]
#if( $usePaging ),
    "paging":#parse( "/dhis-web-commons/ajax/jsonPaging.vm" )
#end
}
