#set( $size = $validationRuleGroups.size() )
{ "validationRuleGroups": [
#foreach( $validationRuleGroup in $validationRuleGroups )
{
    "id": ${validationRuleGroup.id},
    "name": "$!encoder.jsonEncode( ${validationRuleGroup.name} )"
}
    #if( $velocityCount < $size ),#end
#end
]
#if( $usePaging ),
    "paging":#parse( "/dhis-web-commons/ajax/jsonPaging.vm" )
#end
}
