#set( $size = $charts.size() )
{ "charts": [
#foreach( $chart in $charts )
    {
        "id": ${chart.id},
        "name": "$!encoder.jsonEncode( ${chart.name} )"
    }
    #if( $velocityCount < $size ),#end
#end
]
#if( $usePaging ),
"paging":#parse( "/dhis-web-commons/ajax/jsonPaging.vm" )
#end
}
