#set( $size = $reportTables.size() )
{ "reportTables": [
#foreach( $reportTable in $reportTables )
{
    "id": ${reportTable.id},
    "name": "$!encoder.jsonEncode( ${reportTable.name} )"
}
    #if( $velocityCount < $size ),#end
#end
]
#if( $usePaging ),
    "paging":#parse( "/dhis-web-commons/ajax/jsonPaging.vm" )
#end
}
