#set( $size = $i18nLocales.size() )
{ 
	"i18nLocales": [
		#foreach( $i18nLocale in $i18nLocales )
		  {
			"id":  ${i18nLocale.id} ,
			"name": "$!encoder.jsonEncode( ${i18nLocale.name} )",
			"type": "$i18nLocale.type"
		  }#if( $velocityCount < $size ),#end
		#end]
}