body {
	font-family: latoregular;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.x-body.x-windows {
	-webkit-text-stroke: 0.1px #555;
}

h1 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	line-height: 56px;
	letter-spacing: -1px;
	color: #fff;
	font-size: 22px;
}

h1:hover {
	cursor: pointer;
}

h2, h3 {
	margin: 0;
	font-weight: normal;
}

h2 {
	padding: 20px 0;
	font-size: 35px;
}

h3 {
	padding: 40px 0 20px;
	font-size: 28px;
}

nav, li, li.indicator {
	background-color: #d4d4d2;
}
nav:hover, li:hover, li.indicator:hover {
	background-color: #c4c4c2;
	cursor: pointer;
}

nav {
	margin: 2px;
	width: 80px;
	font-size: 14px;
	color: #222;
	padding: 10px 0 10px 35px;
	background-image: url('../img/back.png');
	background-repeat: no-repeat;
	background-position: 12px center;
	border-radius: 1px;
}

ul {
    margin: 0;
    padding: 0;
    width: 100%;
    margin: auto;
}

li {
    float: left;
    list-style-type: none;
    display: inline-block;
    margin: 2px;
    padding: 28px 47px 27px 60px;
    border-radius: 1px;
	background-image: url('../img/group.png');
	background-repeat: no-repeat;
	background-position: 28px center;
    font-size: 21px;
}

li.indicator {
	padding: 18px 45px 18px 58px;
	background-image: url('../img/report.png');
	background-repeat: no-repeat;
	background-position: 33px center;
    font-size: 18px;
}

#title {
	margin: 0;
	padding: 0;
	font-size: 20px;
}

#chartDiv1, #chartDiv2, #tableDiv {
	padding: 20px 0;
}
#chartDiv1, #chartDiv2, #mapDiv {
	margin: 0 auto;
}
#mapDiv {
	height: 700px;
	margin: 20px 0;
}

.wp-north {
	height: 56px;
	border: 0 none;
	background-color: #3D3D3D;
	padding-left: 12px;
}

.wp-center {
	border: 0 none;
	padding: 15px 30px 30px;
	background-color: #fff;
}


/*----------------------------------------------------------------------------
 * Scrollbar webkit
 *--------------------------------------------------------------------------*/
 
::-webkit-scrollbar {
    width: 10px;
    height: 7px;
    border: 0 none;
}

::-webkit-scrollbar-track:horizontal {
    background-color: #ddd;
    margin: 0 2px;
}
::-webkit-scrollbar-thumb:horizontal {
	background-color: #bbb;
}

::-webkit-scrollbar-track:vertical {
    background-color: #e1e1e1;
    margin: 	0;
}
::-webkit-scrollbar-thumb:vertical {
	background-color: #bbb;
}


/*----------------------------------------------------------------------------
 * Font-face
 *--------------------------------------------------------------------------*/

@font-face {
    font-family: 'latoregular';
    src: url('../resources/lato-reg-webfont.eot');
    src: url('../resources/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../resources/lato-reg-webfont.woff') format('woff'),
         url('../resources/lato-reg-webfont.ttf') format('truetype'),
         url('../resources/lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
