<div class="information_bar">
    <div ng-include="'views/personprofile.html'"></div>	
</div>

<div class="side_bar">
    <div ng-include="'views/anc/comprem.html'"></div>
    <div ng-include="'views/anc/notes.html'"></div>	
</div>

<div class="main_content">

    <h2>{{'anc_visits'| translate}}</h2>
    <div ng-switch="DHIS2Events.length">
        <div ng-switch-when="undefined">
            <p>
                {{'no_anc_visit_made'| translate}}
            </p>
        </div>
        <div class="list-group">
            <div ng-repeat="event in DHIS2Events">					
                <a href="#/anc/visit?eventUid={{event.event}}" class="list-group-item" >{{event.programStage.name}} ({{event.eventDate}})</a>
            </div>
        </div>			
    </div>

    <div class="margin-top">
        <button ng-click="createNewANCVisit()" class="big-button lightblue">
            {{'new_anc_visit'| translate}}
        </button>
        <button ng-click="cancel()" class="big-button grey">
            {{'cancel'| translate}}
        </button>
    </div>

</div>