<div class="information_bar">
    <div class="info_container-1-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{'person_profile'| translate}}
            </div>
            <div class="list-group">            	
                <div class="list-group-item"><strong>{{'full_name'| translate}}:</strong> {{person.name}}</div>
                <div class="list-group-item"><strong>{{'date_of_birth'| translate}}:</strong> {{ person.dateOfBirth.date | date:'yyyy-MM-dd' }} ({{person.dateOfBirth.age}})</div>
            </div>
        </div>
    </div>
    <div class="info_container-1-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{'additional_information'| translate}}
            </div>
            <div class="panel-body">
                {{allergies}}
            </div>
        </div>
    </div>
</div>

<div class="side_bar">
    <div class="panel panel-primary">
        <div class="panel-heading">
            {{'conditions_complications'| translate}}
        </div>
        <br/>		 
        <div class="list-group" ng-repeat="con in conResultGen">
            {{con}}
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            {{'reminders'| translate}}
        </div>
        <br/>		 
        <div class="list-group" ng-repeat="rem in remResultGen">
            {{rem}}
        </div>
    </div>

    <div class="panel panel-primary" ng-controller="ANCVisitNotesController">
        <div class="panel-heading">
            {{'notes'| translate}}
            <span class="btn-group-sm" style="float:right;">
                <a href ng-click="searchNote()" title="{{'search_note'| translate}}"><i class="fa fa-search fa-lg"></i></a> 
                &nbsp;&nbsp;
                <a href ng-click="showAddNote()" title="{{'add_note'| translate}}"><i class="fa fa-plus fa-lg"></i></a>   
            </span>
        </div>
        <div ng-show="searchNoteField">
            <div class="list-group">
                <input class="form-control" ng-model="noteSearchText" ng-blur="searchNote()" placeholder="type_for_search">            
            </div>
        </div>

        <div ng-show="addNoteField">
            <div class="list-group">
                <textarea class="form-control" rows="3" ng-model="note" placeholder="your_note_here"></textarea>                          
            </div>
            <button ng-click="addNote()" class="big-button lightblue">
                {{'add_note'| translate}}
            </button>
            <button ng-click="closeAddNote()" class="big-button grey">
                {{'cancel'| translate}}
            </button>
        </div>

        <div class="list-group" ng-repeat="note in notes| filter:noteSearchText">
            <a href="#" class="list-group-item">{{note}}</a>
        </div>  
        
    </div>	
</div>

<div class="main_content">

    <h2>{{'anc_visits'| translate}}</h2>
    <div ng-switch="DHIS2Events.length">
        <div ng-switch-when="undefined">
            <p>
                {{'no_anc_visit_made'| translate}}
            </p>
        </div>
        <div class="list-group">
            <div ng-repeat="event in DHIS2Events">					
                <a href="#/anc/visit?eventUid={{event.event}}" class="list-group-item" >{{event.programStage.name}} ({{event.eventDate}})</a>
            </div>
        </div>			
    </div>

    <div class="margin-top">
        <button ng-click="createNewANCVisit()" class="big-button lightblue">
            {{'new_anc_visit'| translate}}
        </button>
        <button ng-click="cancel()" class="big-button grey">
            {{'cancel'| translate}}
        </button>
    </div>

</div>