<div class="information_bar">
    <div ng-include="'views/personprofile.html'"></div>	
</div>

<div class="side_bar">
    <div ng-include="'views/anc/interventions.html'"></div>
    <div ng-include="'views/anc/notes.html'"></div>
</div>
<div class="main_content">

    <h2>{{'consultation'| translate}}</h2>

    <div class="list-group">
        <div ng-repeat="dataElement in dataElements">
            <div class="data-entry-row-1-1 list-group-item">
                <div class="data-entry-row-1-3">
                    {{dataElement.name}}
                </div>
                <div ng-switch="dataElement.type">
                    <div ng-switch-when="int">
                        <div class="data-entry-row-2-3">
                            <input type="number" ng-model="dataElement.value" ng-blur="saveValue(dataElement)">
                            {{dataElement.displayedTrailingUnitOnScreen}}
                        </div>
                    </div>
                    <div ng-switch-when="string">
                        <div class="data-entry-row-2-3">
                            <select ng-model='dataElement.value' ng-change="saveValue(dataElement)" required ng-options='option.value as option.label for option in dataElement.optionSet'>
                                <option value="">{{'please_select'| translate}}</option>
                            </select>
                            {{dataElement.displayedTrailingUnitOnScreen}}
                        </div>
                    </div>
                    <div ng-switch-when="date">
                        <div class="data-entry-row-2-3">    
                            <input type="text" data-ng-model="dataElement.value" data-ng-date='' ng-change="saveValue(dataElement)" readonly="readonly" />                        
                            {{dataElement.displayedTrailingUnitOnScreen}}
                        </div>
                    </div>
                    <div ng-switch-when="bool">
                        <select ng-model='dataElement.value' ng-change="saveValue(dataElement)" required>
                            <option value="">{{'please_select'| translate}}</option>                        
                            <option value="0">{{'no'| translate}}</option>
                            <option value="1">{{'yes'| translate}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="margin-top">
        <div ng-switch="ancPage">
            <div ng-switch-when="GEN">
                <button ng-click="showDepPage()" class="big-button lightblue">
                    {{'next'| translate}}
                </button>
            </div>
            <div ng-switch-when="DEP">
                <a href="#/anc/dashboard?personUid={{person.person}}" class="big-button lightblue">{{'close'| translate}}</a>				
            </div>
        </div>
    </div>
</div>
