<h2>
    {{'search_for_person'| translate}}
</h2>

<div class="margin-top">
    <input type="text" placeholder="{{'personal_number'| translate}}" ng-model="personalNumber" style="height: 20px;"/>
    <button ng-click="searchPerson()" class="button search">
        {{'search'| translate}}
    </button>
    <button ng-click="searchPerson('true')" class="button search">
        {{'list_all_persons'| translate}}
    </button>
    <button ng-click="showRegisterPerson()" class="button search">
        {{'register_new'| translate}}
    </button>
</div>

<div ng-switch="persons.length">
    <div ng-switch-when="undefined">
        <p>
            {{'empty_search_result'| translate}}
        </p>
    </div>
    <hr>
    <div ng-switch-default>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{{'full_name'| translate}}</th>
                    <th ng-repeat="registrationAttribute in registrationAttributes">{{registrationAttribute.name}}</th>                   
                    <th>{{'operations'| translate}}</th>
                </tr>
            </thead>
            <tr ng-repeat="person in persons">
                <td>[{{$index + 1}}]</td>
                <td>{{person.name}}</td>
                <td ng-repeat="attribute in person.attributes">{{attribute.value}}</td>
                
                <td>
                    <a href="#/personedit?personUid={{edit_person.person}}" title="{{'edit_person_profile'| translate}}">
                        <i class="fa fa-pencil-square-o fa-2x" title="{{'person_profile'| translate}}"></i>                        
                    </a>
                    &nbsp;
                    <a href="#/enrollment?personUid={{person.person}}" title="{{'enrollment'| translate}}">
                        <i class="fa fa-caret-square-o-left fa-2x" title="{{'enrollment'| translate}}"></i>                          
                    </a>
                    &nbsp;
                    <a href="#/anc/dashboard?personUid={{person.person}}" title="{{'consultation'| translate}}">
                        <i class="fa fa-user-md fa-2x" title="{{'consultation'| translate}}"></i>                       
                    </a>
                    &nbsp;
                    <a href="#/anc/lab?personUid={{person.person}}" title="{{'lab_report'| translate}}">
                        <i class="fa fa-file-text-o fa-2x" title="{{'lab_report'| translate}}"></i>    
                    </a>
                    &nbsp;
                    <a href="#/anc/summary?personUid={{person.person}}" title="{{'summary_report'| translate}}">
                        <i class="fa fa-list-alt fa-2x" title="{{'summary_report'| translate}}"></i>                       
                    </a>
                    &nbsp;
                    <a href="#/anc/fundalheight?personUid={{person.person}}" title="{{'fundal_height'| translate}}">
                        <i class="fa fa-bar-chart-o fa-2x" title="{{'fundal_height'| translate}}"></i>                            
                    </a>
                </td>
            </tr>
        </table>

    </div>
</div>


