<div ng-controller="ANCInterventionsController">
    <div ng-show="conResult.length > 0">
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{'conditions_complications'| translate}}
            </div>  
            <div class="list-group" ng-repeat="con in conResult">
                <div class="list-group-item">{{con}}</div>
            </div>
        </div>
    </div> 

    <div ng-show="remResult.length > 0">
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{'reminders'| translate}}
            </div>
            <div class="list-group" ng-repeat="rem in remResult">            
                <div class="list-group-item">{{rem}}</div>
            </div>        
        </div>
    </div>

    <div ng-show="smrResult.length > 0">
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{'summary'| translate}}
            </div>  
            <div class="list-group" ng-repeat="smr in smrResult">
                <div class="list-group-item">{{smr}}</div>
            </div>
        </div>
    </div>    
</div>
