<div class="modal-header">
    <h2>{{dialogOptions.headerText | translate}}</h2>
</div>

<div class="modal-body">    
    <p><strong>{{dialogOptions.note | translate }}:</strong>  {{dialogOptions.bodyText.value}}</p>
    <p><strong>{{dialogOptions.created_by | translate }}:</strong> {{dialogOptions.bodyText.storedBy}}</p>
    <p><strong>{{dialogOptions.date | translate }}:</strong>  {{dialogOptions.bodyText.storedDate}}</p>
</div>

<!-- 

<div class="modal-body">    
    <p>{{dialogOptions.comment | translate }}:{{note.value}}</p>
    <p>{{dialogOptions.created_by | translate }}:{{dialogOptions.bodyText.storedBy}}</p>
    <p>{{dialogOptions.date | translate }}:{{dialogOptions.bodyText.storedDate}}</p>
</div>

-->

<div class="modal-footer">
    <button class="big-button grey" 
            data-ng-click="dialogOptions.ok();">{{dialogOptions.closeButtonText | translate}}</button>
</div> 