<div class="information_bar">
    <div ng-include="'views/personprofile.html'"></div>	
</div>

<div class="side_bar">
    <div ng-include="'views/anc/interventions.html'"></div>
    <div ng-include="'views/anc/notes.html'"></div>
</div>

<div class="main_content">

    <h2>{{'history_'| translate}}{{dhis2Event.name}} ({{dhis2Event.eventDate}})</h2>
  
    <div class="list-group">
    <div ng-repeat="prStageDe in prStageDataElements">
        <div class="data-entry-row-1-1 list-group-item">
            <div class="data-entry-row-1-3">{{prStageDe.dataElement.name}}</div>
            <div class="data-entry-row-2-3"><input value="{{prStageDe.dataElement.value}}" disabled/></div>            
        </div>
    </div>
    
    <div class="margin-top">
        <a href="#/anc/dashboard?personUid={{person.person}}" class="big-button lightblue">{{'close'| translate}}</a>
    </div>

</div>

