<div class="information_bar">
    <div class="info_container-1-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{'person_profile' | translate}}
            </div>
            <div class="list-group">            	
              	<div class="list-group-item">{{'full_name' | translate}}: {{person.name}}</div>
              	<div class="list-group-item">{{'date_of_birth' | translate}}: {{ person.dateOfBirth.date | date:'yyyy-MM-dd' }} ({{person.dateOfBirth.age}})</div>
            </div>
        </div>
    </div>

    <div class="info_container-1-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
				{{'allergies' | translate}}
			</div>
			<div class="panel-body">
				{{allergies}}
			</div>
        </div>
    </div>
    <div class="info_container-1-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
				{{'medications' | translate}}
			</div>
			<div class="panel-body">
				{{medication}}
			</div>
        </div>
    </div>
</div>

<div class="side_bar">
	<div class="panel panel-primary">
		<div class="panel-heading">
			{{'conditions_complications' | translate}}
		</div>
		<br/>		 
		<div class="list-group" ng-repeat="con in conResultGen">
			{{con}}			
		</div>
	</div>
	
	<div class="panel panel-primary">
		<div class="panel-heading">
			{{'reminders' | translate}}
		</div>
		<br/>		 
		<div class="list-group" ng-repeat="rem in remResultGen">
			{{rem}}
		</div>
	</div>
	
	<div class="panel panel-primary">
		<div class="panel-heading">
			{{'notes' | translate}}
		</div>
		<br/>	
		<div class="list-group" ng-repeat="note in notes">
			<a href="#" class="list-group-item">{{note}}</a>
		</div>	
	</div>	
</div>

<div class="main_content">

	<h2>{{'history_for' | translate}}{{dhis2Event.programStage.name}} ({{dhis2Event.eventDate | date:'yyyy-MM-dd' }})</h2>

	<div ng-repeat="prStageDe in prStageDataElements">
		<div class="data-entry-row-1-1">
			<div class="data-entry-row-1-3">
				{{prStageDe.dataElement.name}}
			</div>
			<div ng-switch="prStageDe.dataElement.type">
				<div ng-switch-when="int">
					<div class="data-entry-row-2-3">
						<input type="number" id="{{prStageDe.dataElement.code}}" ng-model="prStage.dataElement.value" disabled>
						<!--{{dataElement.displayedTrailingUnitOnScreen}}-->
					</div>
				</div>
				<div ng-switch-when="string">
					<div class="data-entry-row-2-3">
						<select ng-model="prStage.dataElement.value" required ng-options='option.value as option.label for option in prStage.dataElement.optionSet.options' disabled></select>
						<!--{{dataElement.displayedTrailingUnitOnScreen}}-->
					</div>
				</div>
				<div ng-switch-when="date">
					<div class="data-entry-row-2-3">
						<input type="date" id="{{prStageDe.dataElement.code}}" ng-model="prStage.dataElement.value" disabled>
						<!--{{dataElement.displayedTrailingUnitOnScreen}}-->
					</div>
				</div>
				<div ng-switch-when="bool">
					<div class="data-entry-row-2-3">
						<select ng-model="prStage.dataElement.value" disabled>
							<option value="0">No</option>
							<option value="1">YES</option>
							<option value="-1">MISSING</option> 	
						</select>
						<!--{{dataElement.displayedTrailingUnitOnScreen}}-->
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="margin-top">
		<a href="#/anc/dashboard?personUid={{person.person}}" class="big-button lightblue">{{'close' | translate}}</a>
	</div>

</div>

