<div class="row">    
    <!-- Registration begins -->
    <div class="col-md-6" ng-show="showRegistration">
        <h2>{{'registration' | translate}}</h2>
        <form name="outerFormRegistration" novalidate>
            <div class="bordered-div ">
                <h3> <strong>{{'pregnant_woman'| translate}} </strong></h3>
                <table class="table">            
                    <tr class="col-md-12" ng-repeat="pw in pregnantWomanAttributes">
                        <td class="col-md-6 vertical-center-container">
                            <div class="vertical-center-content">
                                {{pw.name}}
                            </div>                            
                        </td>
                        <td class="col-md-6">
                            <ng-form name="innerFormPregnantWomanRegistration">       
                                <div ng-switch="pw.valueType">
                                    <div ng-switch-when="date">
                                        <input type="text" placeholder="dd.mm.yyyy" name="foo" class="form-control" ng-date ng-required="pw.mandatory" ng-model="pw.value" />
                                        <span ng-show="outerFormRegistration.submitted && innerFormPregnantWomanRegistration.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-when="trueOnly">
                                        <input type="checkbox" name="foo" class="form-control" ng-required="pw.mandatory" ng-model="pw.value" />
                                        <span ng-show="outerFormRegistration.submitted && innerFormPregnantWomanRegistration.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-when="bool">
                                        <select name="foo" ng-required="pw.mandatory" ng-model="pw.value" class="form-control">
                                            <option value="">{{'please_select'| translate}}</option>                        
                                            <option value="0">{{'no'| translate}}</option>
                                            <option value="1">{{'yes'| translate}}</option>
                                        </select>
                                        <span ng-show="outerFormRegistration.submitted && innerFormPregnantWomanRegistration.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-when="optionSet">
                                        <input type="text"
                                               name="foo"
                                               class="form-control"
                                               ng-required="pw.mandatory"
                                               ng-model="pw.value"                                                 
                                               typeahead="option for option in pw.optionSet.options | filter:$viewValue | limitTo:20" 
                                               typeahead-open-on-focus 
                                               />
                                        <span ng-show="outerFormRegistration.submitted && innerFormPregnantWomanRegistration.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-when="number">
                                        <input type="number" name="foo" class="form-control" ng-required="pw.mandatory" ng-model="pw.value"/>
                                        <span ng-show="outerFormRegistration.submitted && innerFormPregnantWomanRegistration.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-default>
                                        <input type="text" name="foo" class="form-control" ng-required="pw.mandatory" ng-model="pw.value" />
                                        <span ng-show="outerFormRegistration.submitted && innerFormPregnantWomanRegistration.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                </div>   
                            </ng-form>
                        </td>
                    </tr>  
                </table>
            </div>

            <div class="bordered-div ">
                <h3> <strong>{{'contact_person'| translate}} </strong></h3>
                <table class="table">
                    <tr class="col-md-12" ng-repeat="cp in contactPersonAttributes">
                        <td class="col-md-6 vertical-center-container">
                            <div class="vertical-center-content">
                                {{cp.name}}
                            </div>                            
                        </td>
                        <td class="col-md-6">
                            <ng-form name="innerFormContactPersonRegistration">       
                                <div ng-switch="cp.valueType">
                                    <div ng-switch-when="date">
                                        <input type="text" name="foo" ng-required="cp.mandatory" class="form-control" ng-date ng-model="cp.value" />
                                        <span ng-show="outerFormRegistration.submitted && innerFormContactPersonRegistration.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-when="trueOnly">
                                        <input type="checkbox" name="foo" ng-required="cp.mandatory" class="form-control" ng-model="cp.value" />
                                        <span ng-show="outerFormRegistration.submitted && innerFormContactPersonRegistration.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-when="bool">
                                        <select name="foo" ng-required="cp.mandatory" ng-model="cp.value" class="form-control">
                                            <option value="">{{'please_select'| translate}}</option>                        
                                            <option value="0">{{'no'| translate}}</option>
                                            <option value="1">{{'yes'| translate}}</option>
                                        </select>
                                        <span ng-show="outerFormRegistration.submitted && innerFormContactPersonRegistration.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-when="optionSet">
                                        <input type="text" 
                                               name="foo"
                                               class="form-control"
                                               ng-required="cp.mandatory"
                                               ng-model="cp.value"                                                 
                                               typeahead="option for option in cp.optionSet.options | filter:$viewValue | limitTo:20" 
                                               typeahead-open-on-focus 
                                               />
                                        <span ng-show="outerFormRegistration.submitted && innerFormContactPersonRegistration.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-when="number">
                                        <input type="number" name="foo" class="form-control" ng-required="cp.mandatory" ng-model="cp.value"/>
                                        <span ng-show="outerFormRegistration.submitted && innerFormContactPersonRegistration.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-default>
                                        <input type="text" name="foo" class="form-control" ng-required="cp.mandatory" ng-model="cp.value" />  
                                        <span ng-show="outerFormRegistration.submitted && innerFormContactPersonRegistration.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                </div>
                            </ng-form>    
                        </td>
                    </tr>
                </table>
            </div>

            <div class="vertical-spacing">                
                <button type="button" class="btn btn-default" ng-click="registerEntity(true)">{{'save_and_continue'| translate}}</button>
                <button type="button" class="btn btn-default small-horizonal-spacing" ng-click="registerEntity(false)">{{'save_and_add_new'| translate}}</button>
                <button type="button" class="btn btn-default small-horizonal-spacing" ng-click="cancel()">{{'cancel'| translate}}</button>
            </div>
        </form>
    </div>
    <!-- Registration ends -->
    
    <!-- Update begins -->
    <div class="col-md-6" ng-show="!showRegistration">
        <h2>{{'update' | translate}}</h2>
        <form name="outerFormUpdate" novalidate>
            <div class="bordered-div ">
                <h3> <strong>{{'pregnant_woman'| translate}} </strong></h3>
                <table class="table">
                    <tr class="col-md-12" ng-repeat="pw in pregnantWomanAttributes">
                        <td class="col-md-6 vertical-center-container">
                            <div class="vertical-center-content">
                                {{pw.name}}
                            </div>                            
                        </td>
                        <td class="col-md-6">
                            <ng-form name="innerFormPregnantWomanUpdate">       
                                <div ng-switch="pw.valueType">
                                    <div ng-switch-when="date">
                                        <input type="text" placeholder="dd.mm.yyyy" name="foo" class="form-control" ng-date ng-required="pw.mandatory" ng-model="pregnantWoman.attributes[pw.id].value"/>
                                        <span ng-show="outerFormUpdate.submitted && innerFormPregnantWomanUpdate.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-when="trueOnly">
                                        <input type="checkbox" name="foo" class="form-control" ng-required="pw.mandatory" ng-model="pregnantWoman.attributes[pw.id].value"/>
                                        <span ng-show="outerFormUpdate.submitted && innerFormPregnantWomanUpdate.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-when="bool">
                                        <select name="foo" ng-required="pw.mandatory" ng-model="pregnantWoman.attributes[pw.id].value" class="form-control">
                                            <option value="">{{'please_select'| translate}}</option>                        
                                            <option value="0">{{'no'| translate}}</option>
                                            <option value="1">{{'yes'| translate}}</option>
                                        </select>
                                        <span ng-show="outerFormUpdate.submitted && innerFormPregnantWomanUpdate.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-when="optionSet">
                                        <input type="text"
                                               name="foo"
                                               class="form-control"
                                               ng-required="pw.mandatory"
                                               ng-model="pregnantWoman.attributes[pw.id].value"                                              
                                               typeahead="option for option in pw.optionSet.options | filter:$viewValue | limitTo:20" 
                                               typeahead-open-on-focus 
                                               />
                                        <span ng-show="outerFormUpdate.submitted && innerFormPregnantWomanUpdate.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-when="number">
                                        <input type="number" name="foo" class="form-control" ng-required="pw.mandatory" ng-model="pregnantWoman.attributes[pw.id].value"/>
                                        <span ng-show="outerFormUpdate.submitted && innerFormPregnantWomanUpdate.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-default>
                                        <input type="text" name="foo" class="form-control" ng-required="pw.mandatory" ng-model="pregnantWoman.attributes[pw.id].value" />
                                        <span ng-show="outerFormUpdate.submitted && innerFormPregnantWomanUpdate.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                </div>   
                            </ng-form>
                        </td>
                    </tr>  
                </table>
            </div>

            <div class="bordered-div ">
                <h3> <strong>{{'contact_person'| translate}} </strong></h3>
                <table class="table-borderless table-striped">
                    <tr class="col-md-12" ng-repeat="cp in contactPersonAttributes">
                        <td class="col-md-6 vertical-center-container">
                            <div class="vertical-center-content">
                                {{cp.name}}
                            </div>                            
                        </td>
                        <td class="col-md-6">
                            <ng-form name="innerFormContactPersonUpdate">       
                                <div ng-switch="cp.valueType">
                                    <div ng-switch-when="date">
                                        <input type="text" name="foo" ng-required="cp.mandatory" class="form-control" ng-date ng-model="contactPerson.attributes[cp.id].value" />
                                        <span ng-show="outerFormUpdate.submitted && innerFormContactPersonUpdate.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-when="trueOnly">
                                        <input type="checkbox" name="foo" ng-required="cp.mandatory" class="form-control" ng-model="contactPerson.attributes[cp.id].value" />
                                        <span ng-show="outerFormUpdate.submitted && innerFormContactPersonUpdate.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-when="bool">
                                        <select name="foo" ng-required="cp.mandatory" ng-model="contactPerson.attributes[cp.id].value" class="form-control">
                                            <option value="">{{'please_select'| translate}}</option>                        
                                            <option value="0">{{'no'| translate}}</option>
                                            <option value="1">{{'yes'| translate}}</option>
                                        </select>
                                        <span ng-show="outerFormUpdate.submitted && innerFormContactPersonUpdate.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-when="optionSet">
                                        <input type="text" 
                                               name="foo"
                                               class="form-control"
                                               ng-required="cp.mandatory"
                                               ng-model="contactPerson.attributes[cp.id].value"                                                
                                               typeahead="option for option in cp.optionSet.options | filter:$viewValue | limitTo:20" 
                                               typeahead-open-on-focus 
                                               />
                                        <span ng-show="outerFormUpdate.submitted && innerFormContactPersonUpdate.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-when="number">
                                        <input type="number" name="foo" class="form-control" ng-required="cp.mandatory" ng-model="contactPerson.attributes[cp.id].value"/>
                                        <span ng-show="outerFormUpdate.submitted && innerFormContactPersonUpdate.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-default>
                                        <input type="text" name="foo" class="form-control" ng-required="cp.mandatory" ng-model="contactPerson.attributes[cp.id].value" />  
                                        <span ng-show="outerFormUpdate.submitted && innerFormContactPersonUpdate.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                </div>
                            </ng-form>    
                        </td>
                    </tr>
                </table>
            </div>
            <div class="vertical-spacing">                
                <button type="button" class="btn btn-default" ng-click="updateEntity()">{{'update'| translate}}</button>
                <button type="button" class="btn btn-default small-horizonal-spacing" ng-click="cancel()">{{'cancel'| translate}}</button>
            </div>
        </form>
    </div>
    <!-- Update end -->
</div>