
<h2>$i18n.getString( "name_based_data_entry_and_reports" )&nbsp;</h2>
<ul>
    <li><a href="dataEntrySelect.action">$i18n.getString( "data_entry" )</a></li>     
    <li><a href="visitPlanSelect.action">$i18n.getString( "visit_plan" )</a></li>
    <li><a href="reportSelect.action">$i18n.getString( "reports" )</a></li>
</ul>


<br>
#parse( "/dhis-web-commons/ouwt/orgunittree.vm" )


