
#parse( "/dhis-web-caseentry/reportSelect.vm" )

<table class="mainPageTable">
    <tr>
        <td style="vertical-align:top">    
        <table class="listTable">
            <col>
            #foreach( $programStage in $program.programStages )
                <col>
            #end       
            <tr>
                <th style="text-align:center">$i18n.getString( "full_name" )</th>
                #foreach( $programStage in $program.programStages )
                    <th style="text-align:center">$encoder.htmlEncode( $programStage.name )</th>
                #end                
            </tr>
          
            <tbody id="list"> 
            
            </tbody>
    
        </table>
        </td>
    </tr>
</table>
