#parse( "/dhis-web-caseentry/visitPlanSelect.vm" )


<table class="mainPageTable">    
    
    #foreach( $patient in $patients )
        <tr>            
            <td colspan="3"><strong>$patient.firstName&nbsp;&nbsp;$patient.middleName&nbsp;&nbsp;$patient.lastName&nbsp;&nbsp;</strong></td>       
        </tr>
        
        #set( $stages = $visitsByPatients.get( $patient ) )        
        #foreach( $stage in $stages )
            <tr>
                <td></td>
                <td>$stage.program.name</td>
                <td>$stage.name</td>
            </tr>          
        #end        
    #end 
    
</table>