<div class="information_bar">
    <div ng-include="'anc/profile/profile.html'"></div>	
</div>

<div class="side_bar">
    <div ng-include="'anc/intervention/interventions.html'" ng-controller="InterventionsController"></div>
    <div ng-include="'anc/notes/notes.html'"></div>
</div>

<div class="main_content">

    <h2>{{currentEvent.name}} - {{currentEvent.eventDate}}</h2>   

    <accordion>

        <accordion-group ng-repeat="section in sections">
            <accordion-heading>
                <a href="" class="big-button-accordion">{{section.name}}</a>
            </accordion-heading>
            <div class="data-entry-container">
                <table class="table table-striped">
                    <tr ng-repeat="dataElement in section.dataElements"
                        ng-hide="(dataElement.code == MMD_OBS ||
                                                        dataElement.code == MMD_OBS_PAR ||
                                                        dataElement.code == MMD_OBS_OUT ||
                                                        dataElement.code == MMD_OBS_DEL ||
                                                        dataElement.code == MMD_OBS_GRA_DAT
                                                        )">
                        <td>
                            {{dataElement.name}} 
                        </td>
                        <td>
                            <div ng-switch="dataElement.type">
                                <div ng-switch-when="int">
                                    <input type="number" class="form-control" ng-model="dataElement.value" value="{{dataElement.value}}" ng-blur="saveValue(dataElement, true)">                                                                 
                                </div>
                                <div ng-switch-when="string">
                                    <select ng-model='dataElement.value' class="form-control" ng-change="saveValue(dataElement, true)" required ng-options='option.label as option.label for option in dataElement.optionSet'>
                                        <option value="-1">{{'please_select'| translate}}</option>
                                    </select>
                                    <span ng-show="otherPleaseSpecify && currentDataElement == dataElement.id"><input type="text" class="form-control" placeholder="{{'please_specify'| translate}}" ng-model="dataElement.value" ng-blur="saveValue(dataElement, true)"></span>		                
                                </div>
                                <div ng-switch-when="date">
                                    <input type="text" class="form-control" placeholder="dd.mm.yyyy" ng-date data-ng-model="dataElement.value" blur-or-change="saveValue(dataElement, true)"/>   
                                    <span ng-show="invalidDate && currentDataElement == dataElement.id" class="error">{{'invalid_date'| translate}}</span>                               
                                </div>
                                <div ng-switch-when="bool">
                                    <select ng-model='dataElement.value' class="form-control" ng-change="saveValue(dataElement, true)" required>
                                        <option value="-1">{{'please_select'| translate}}</option>                        
                                        <option value="0">{{'no'| translate}}</option>
                                        <option value="1">{{'yes'| translate}}</option>
                                    </select>                                  
                                </div>                                                     
                            </div>
                        </td>
                        <td>
                            {{dataElement.trailingUnit}}
                            <span class="btn-group-sm ">
                                <a ng-show="!dataElement.showGuideline && dataElement.description" href ng-click="displayGuideline(dataElement)" title="{{'guideline'| translate}}"><i class="fa fa-info-circle fa-lg"></i></a>                            
                                <a ng-show="dataElement.showGuideline && dataElement.description" href ng-click="displayGuideline(dataElement)" title="{{'close'| translate}}"><i class="fa fa-minus-circle fa-lg"></i></a>
                            </span> 
                        </td>
                    </tr>
                </table>
                
                <!--previous pregenancy details -->
                <div ng-show="previousPregnancy.exists && section.name == 'History'">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr> 
                                    <th ng-repeat="pregnancyHeading in pregnancyTableHeadings">{{pregnancyHeading}}</th>                            
                                </tr>
                            </thead>
                            <tr ng-repeat="g in gra track by $index">
                                <td>
                                    <input type="text" class="form-control" placeholder="dd.mm.yyyy" ng-date data-ng-model="gra[$index].value" blur-or-change="savePreviousPregnancy(gra[$index], $index, previousPregnancy.count, true)"/>                            
                                </td>
                                <td>
                                    <input type="text" class="form-control" placeholder="dd.mm.yyyy" ng-date data-ng-model="par[$index].value" blur-or-change="savePreviousPregnancy(par[$index], $index, previousPregnancy.count, true)"/>                            
                                </td>
                                <td>
                                    <select class="form-control" ng-model="out[$index].value" ng-change="savePreviousPregnancy(out[$index], $index, previousPregnancy.count, true)" ng-options='option.label as option.label for option in out[$index].optionSet'>
                                        <option value="">{{'please_select'| translate}}</option>
                                    </select>                            
                                </td>
                                <td>
                                    <select class="form-control" ng-model="del[$index].value" ng-change="savePreviousPregnancy(del[$index], $index, previousPregnancy.count, true)" ng-options='option.label as option.label for option in del[$index].optionSet'>
                                        <option value="">{{'please_select'| translate}}</option>
                                    </select>                            
                                </td>
                            </tr>
                        </table>
                    </div>
                    <table class="table">
                        <tr>
                            <td>
                                {{mmdObs.name}}
                            </td>
                            <td>
                                <select class="form-control" ng-model='mmdObs.value' ng-change="saveValue(mmdObs, true)" required ng-options='option.label as option.label for option in mmdObs.optionSet'>
                                    <option value="">{{'please_select'| translate}}</option>
                                </select>
                                <span ng-show="otherPleaseSpecify && currentDataElement == mmdObs.id"><input type="text" placeholder="{{'please_specify'| translate}}" ng-model="mmdObs.value" ng-blur="saveValue(mmdObs, true)"></span>                        
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </accordion-group>

        <!-- dep page -->
        <accordion-group ng-controller="DependencyController">
            <accordion-heading>
                <a href="" class="big-button-accordion">{{depSection.name}}</a>
            </accordion-heading>
            <div class="data-entry-container">
                <table class="table table-striped">
                    <tr ng-repeat="dataElement in depSection.dataElements">
                        <td>
                            {{dataElement.name}}
                        </td>
                        <td>
                            <div ng-switch="dataElement.type">
                                <div ng-switch-when="int">
                                    <div class="data-entry-row-2-3">
                                        <input type="number" class="form-control" ng-model="dataElement.value" ng-blur="saveValue(dataElement, false)">
                                    </div>
                                </div>
                                <div ng-switch-when="string">
                                    <div class="data-entry-row-2-3">
                                        <select ng-model='dataElement.value' class="form-control" ng-change="saveValue(dataElement, false)" required ng-options='option.label as option.label for option in dataElement.optionSet'>
                                            <option value="-1">{{'please_select'| translate}}</option>
                                        </select>
                                        <span ng-show="otherPleaseSpecify && currentDataElement == dataElement.id"><input type="text" placeholder="{{'please_specify'| translate}}" ng-model="dataElement.value" ng-blur="saveValue(dataElement, false)"></span>		                
                                    </div>
                                </div>
                                <div ng-switch-when="date">
                                    <div class="data-entry-row-2-3">    
                                        <input class="form-control" type="text" placeholder="dd.mm.yyyy" ng-date data-ng-model="dataElement.value" blur-or-change="saveValue(dataElement, false)"/>   
                                        <span ng-show="invalidDate && currentDataElement == dataElement.id" class="error">{{'invalid_date'| translate}}</span>                                                                   </div>
                                </div>
                                <div ng-switch-when="bool">
                                    <select ng-model='dataElement.value' class="form-control" ng-change="saveValue(dataElement, false)" required>
                                        <option value="-1">{{'please_select'| translate}}</option>                        
                                        <option value="0">{{'no'| translate}}</option>
                                        <option value="1">{{'yes'| translate}}</option>
                                    </select>  
                                </div>
                            </div>
                        </td>
                        <td>
                            {{dataElement.trailingUnit}}
                            <span class="btn-group-sm ">
                                <a ng-show="!dataElement.showGuideline && dataElement.description" href ng-click="displayGuideline(dataElement)" title="{{'guideline'| translate}}"><i class="fa fa-info-circle fa-lg"></i></a>                            
                                <a ng-show="dataElement.showGuideline && dataElement.description" href ng-click="displayGuideline(dataElement)" title="{{'close'| translate}}"><i class="fa fa-minus-circle fa-lg"></i></a>
                            </span>
                            <div ng-show='dataElement.showGuideline' class="panel-body">
                                {{dataElement.description}}
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </accordion-group>

    </accordion>

    <div class="margin-top">
        <a href="#/dashboard?tei={{pregnantWoman.trackedEntityInstance}}" class="big-button grey">{{'complete_consultation'| translate}}</a>
    </div>

</div>

