td div div {
	padding: 5px;
	background-color: #bbb;
	text-align: center;
	font-size: 12px;
}

td .empty-body {
	background-color: #aaccff;
}

td .dim-body {
	background-color: #88bbff;
}

td .value-body {
	background-color: #ddd;
}
