td div div {
	padding: 5px;
	background-color: #bbb;
	text-align: center;
	font-size: 12px;
}

td .empty-body {
	background-color: #fff;
}

td .dim-body {
	background-color: #99bbff;
}

td .value-body {
	background-color: #e1e1e1;
}

td .good div {
	color: green;
}

td .medium div {
	color: #333;
}

td .bad div {
	color: red;
}
