td div div {
	padding: 5px;
	text-align: center;
	font-size: 12px;
}

td .empty-body {
	background-color: #fff;
}

td .dim-body {
	background-color: #dae6f8;
}

td .dimtotal-body {
	background-color: #cad6e8;
}

td .value-body {
	background-color: #eaeaea;
}

td .good div {
	color: green;
}

td .medium div {
	color: #333;
}

td .bad div {
	color: red;
}
