/* Ext overrides */

.x-form-empty-field, textarea.x-form-empty-field {
    font-size: 10px;
    color: #777;
}

.x-form-text, textarea.x-form-field {
    font-size: 10px;
}

.x-form-item-label {
    font: 11px arial;
}

.x-webkit .x-form-empty-field {
    line-height: 14px;
}

.x-splitter {
    display: none;
}

/* DHIS */

body {
    font: normal 10px arial;
}

li {
   font-size:10px;
}
