/* Ext overrides */

/* Combobox empty text */
.x-form-empty-field, textarea.x-form-empty-field {
    font-size: 10px;
    color: #777;
}

/* Combobox font size */
.x-form-text, textarea.x-form-field {
    font-size: 10px;
}

/* Combobox field label font */
.x-form-item-label {
    font: 11px arial;
}

/* Text position in combobox */
.x-webkit .x-form-empty-field {
    line-height: 14px;
}

/* ItemSelector title */
.x-panel-header-text-default {
    font-weight: normal;
    color: #000;
}

/* Splitter column */
.x-splitter {
    display: none;
}

/* Fieldset border */
.x-fieldset {
    border: 1px solid #d4d4d4;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    padding-bottom: 5px;
}

/* DHIS */

body {
    font: normal 10px arial;
}

li {
   font-size: 10px;
   color: #333;
}
