/* Ext overrides */

/* Combobox empty text */
.x-form-empty-field, textarea.x-form-empty-field {
    font-size: 10px;
    color: #777;
}

/* Combobox text position*/
.x-webkit .x-form-empty-field {
    line-height: 14px;
}

/* Combobox font size */
.x-form-text, textarea.x-form-field {
    font-size: 10px;
}

/* Combobox field label font */
.x-form-item-label {
    font: 11px arial;
    color: #222;
}

/* Splitter column */
.x-splitter {
    display: none;
}

/* Fieldset border */
.x-fieldset {
    border: 1px solid #ddd;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    padding-bottom: 4px;
}

/* Tree panel font */
.x-grid-row .x-grid-cell {
    font: 10px arial;
    color: #222;
}

/* Tree panel node height */
.x-tree-panel .x-grid-row .x-grid-cell-inner {
    height: 17px;
}

/* (Tree)Panel border */
.x-panel .x-grid-body {
    border-style: none;
}

/* Multiselect inner border */
.x-fit-item {
    border-style: none;
}

/* List (combo, multiselect etc) style */
.x-boundlist-item {
    color:#333;
    padding: 2px 2px 2px 4px;
}

/* Checkbox box label */
.x-form-cb-label-after {
    padding-left: 3px;
    font: 11px arial, ubuntu;
}

/* DHIS */

body {
    font: normal 10px arial;
}

li {
   font-size: 10px;
   color: #000;
}


