<div class="information_bar">
    <div ng-include="'anc/profile/profile.html'"></div>	
</div>

<div class="side_bar">
    <div ng-include="'anc/intervention/interventions.html'"></div>
    <div ng-include="'anc/notes/notes.html'"></div>
</div>

<div class="main_content">

    <h2>{{'anc_visits'| translate}}</h2>
    <div ng-switch="dhis2Events.length">
        <div ng-switch-when="undefined">
            <p>
                {{'no_anc_visit_made'| translate}}
            </p>
        </div>
        <div class="list-group">
            <div ng-repeat="event in dhis2Events">	
                <a href="#/visit?eventUid={{event.event}}&tei={{event.trackedEntityInstance}}" class="list-group-item" >{{event.name}} - {{event.eventDate}}</a>
            </div>
        </div>			
    </div>

    <div class="margin-top">
        <button ng-click="createNewANCVisit()" class="big-button lightblue">
            {{'new_consultation'| translate}}
        </button>
        <button ng-click="cancel()" class="big-button grey">
            {{'back'| translate}}
        </button>
    </div>

</div>