<div class="row">    
    <div class="col-md-6">
        <form name="outerForm" novalidate>        

            <div class="bordered-div ">
                <h3> <strong>{{'pregnant_woman'| translate}} </strong></h3>
                <table class="table-borderless table-striped">            
                    <tr ng-repeat="pw in pregnantWomanAttributes track by $index">
                        <td>
                            {{pw.name}}
                        </td>
                        <td>
                            <ng-form name="innerFormPregnantWoman">       
                                <div ng-switch="pw.valueType">
                                    <div ng-switch-when="date">
                                        <input type="text" name="foo" class="form-control" ng-date ng-required="pw.mandatory" ng-model="pw.value" />
                                        <span ng-show="outerForm.submitted && innerFormPregnantWoman.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-when="trueOnly">
                                        <input type="checkbox" name="foo" class="form-control" ng-required="pw.mandatory" ng-model="pw.value" />
                                        <span ng-show="outerForm.submitted && innerFormPregnantWoman.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-when="bool">
                                        <select name="foo" ng-required="pw.mandatory" ng-model="pw.value" class="form-control">
                                            <option value="">{{'please_select'| translate}}</option>                        
                                            <option value="0">{{'no'| translate}}</option>
                                            <option value="1">{{'yes'| translate}}</option>
                                        </select>
                                        <span ng-show="outerForm.submitted && innerFormPregnantWoman.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-when="optionSet">
                                        <input type="text"
                                               name="foo"
                                               class="form-control"
                                               ng-required="pw.mandatory"
                                               ng-model="pw.value"                                                 
                                               typeahead="option for option in pw.optionSet.options | filter:$viewValue | limitTo:20" 
                                               typeahead-open-on-focus 
                                               />
                                        <span ng-show="outerForm.submitted && innerFormPregnantWoman.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-when="number">
                                        <input type="number" name="foo" class="form-control" ng-required="pw.mandatory" ng-model="pw.value"/>
                                        <span ng-show="outerForm.submitted && innerFormPregnantWoman.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-default>
                                        <input type="text" name="foo" class="form-control" ng-required="pw.mandatory" ng-model="pw.value" />
                                        <span ng-show="outerForm.submitted && innerFormPregnantWoman.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                </div>   
                            </ng-form>
                        </td>
                    </tr>  
                </table>
            </div>

            <div class="bordered-div ">
                <h3> <strong>{{'contact_person'| translate}} </strong></h3>
                <table class="table-borderless table-striped">
                    <tr ng-repeat="cp in contactPersonAttributes track by $index">
                        <td>
                            {{cp.name}}
                        </td>
                        <td>
                            <ng-form name="innerFormContactPerson">       
                                <div ng-switch="cp.valueType">
                                    <div ng-switch-when="date">
                                        <input type="text" name="foo" ng-required="cp.mandatory" class="form-control" ng-date ng-model="cp.value" />
                                        <span ng-show="outerForm.submitted && innerFormContactPerson.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-when="trueOnly">
                                        <input type="checkbox" name="foo" ng-required="cp.mandatory" class="form-control" ng-model="cp.value" />
                                        <span ng-show="outerForm.submitted && innerFormContactPerson.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-when="bool">
                                        <select name="foo" ng-required="cp.mandatory" ng-model="cp.value" class="form-control">
                                            <option value="">{{'please_select'| translate}}</option>                        
                                            <option value="0">{{'no'| translate}}</option>
                                            <option value="1">{{'yes'| translate}}</option>
                                        </select>
                                        <span ng-show="outerForm.submitted && innerFormContactPerson.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-when="optionSet">
                                        <input type="text" 
                                               name="foo"
                                               class="form-control"
                                               ng-required="cp.mandatory"
                                               ng-model="cp.value"                                                 
                                               typeahead="option for option in cp.optionSet.options | filter:$viewValue | limitTo:20" 
                                               typeahead-open-on-focus 
                                               />
                                        <span ng-show="outerForm.submitted && innerFormContactPerson.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-when="number">
                                        <input type="number" name="foo" class="form-control" ng-required="cp.mandatory" ng-model="cp.value"/>
                                        <span ng-show="outerForm.submitted && innerFormContactPerson.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                    <div ng-switch-default>
                                        <input type="text" name="foo" class="form-control" ng-required="cp.mandatory" ng-model="cp.value" />  
                                        <span ng-show="outerForm.submitted && innerFormContactPerson.foo.$invalid" style="color:red;font-size:12px">{{'required'| translate}}</span>
                                    </div>
                                </div>
                            </ng-form>    
                        </td>
                    </tr>
                </table>
            </div>

            <div class="vertical-spacing">                
                <button type="button" class="btn btn-default" ng-click="registerEntity(true)">{{'save_and_continue'| translate}}</button>
                <button type="button" class="btn btn-default small-horizonal-spacing" ng-click="registerEntity(false)">{{'save_and_add_new'| translate}}</button>
                <button type="button" class="btn btn-default small-horizonal-spacing" ng-click="cancel()">{{'cancel'| translate}}</button>
            </div>
        </form>
    </div>
</div>