#set( $indicatorSize = $indicatorValues.size() )
#set( $dataSize = $dataValues.size() )

{"values":[

#if ( $indicatorSize > 0 )
#foreach( $value in $indicatorValues )

	{"v":"$!{value.value}","i":"$!{value.indicatorId}","p":"$!{value.periodId}","o":"$!{value.organisationUnitId}"}
	#if( $velocityCount < $indicatorSize ),#end
	
#end
#end


#if ( $dataSize > 0 )
#if ( $indicatorSize > 0 ),#end
#foreach( $value in $dataValues )

	{"v":"$!{value.value}","i":"$!{value.indicatorId}","p":"$!{value.periodId}","o":"$!{value.organisationUnitId}"}
	#if( $velocityCount < $dataSize ),#end

#end
#end
]}
