#set($size=$object.size())[#foreach($unit in $object){"ty":#if(${unit.featureType}=="Point")"2"#else"1"#end,"co":$!encoder.jsonEncode($!{unit.validCoordinates}),"uid":"$!{unit.uid}","iid":$!{unit.id},"na":"$!encoder.jsonEncode(${unit.name})","hc":$!{unit.hasChildrenWithCoordinates()}}#if($velocityCount<$size),#end#end]