#set( $size = $object.size() )
{ "mapViews": [
#foreach( $mapView in $object )
  {
    "id": "$!{mapView.id}",
    "name": "$!encoder.jsEncode( ${mapView.name} )",
    "mapValueType": "$!encoder.jsEncode( ${mapView.mapValueType} )",
    "indicatorGroupId": "$!encoder.jsEncode( ${mapView.indicatorGroup.id} )",
    "indicatorId": "$!encoder.jsEncode( ${mapView.indicator.id} )",
    "dataElementGroupId": "$!encoder.jsEncode( ${mapView.dataElementGroup.id} )",
    "dataElementId": "$!encoder.jsEncode( ${mapView.dataElement.id} )",
    "periodTypeId": "$!{mapView.periodType.id}",
    "periodId": "$!{mapView.period.id}",
    "mapSourceType": "$!encoder.jsEncode( ${object.mapSourceType} )",
    "mapSource": "$!encoder.jsEncode( ${object.mapSource} )",
    "mapLegendType": "$!encoder.jsEncode( ${object.mapLegendType} )",
    "method": "$!{mapView.method}",
    "classes": "$!{mapView.classes}",
    "colorLow": "$!encoder.jsEncode( ${mapView.colorLow} )",
    "colorHigh": "$!encoder.jsEncode( ${mapView.colorHigh} )",
    "mapLegendSetId": "$!{object.mapLegendSet.id}",
    "longitude": "$!encoder.jsEncode( ${mapView.longitude} )",
    "latitude": "$!encoder.jsEncode( ${mapView.latitude} )",
    "zoom": "$!{mapView.zoom}"
  }#if( $velocityCount < $size ),#end
#end
] }