
<h3>$i18n.getString( "create_new_patient" )</h3>
																					
<form id="addIndividualForm" action="addIndividual.action" method="post" onsubmit="return validateAddIndividual()">

<table>	
	<tr>
		<th colspan="2">$i18n.getString( "patient_identifier_s" )</th>
	</tr>
	<tr>
		<td><label for="identifier">$i18n.getString( "identifier" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="identifier" name="identifier" maxlength="30" style="width:30em"></td>
	</tr>	
	<tr><td>&nbsp;</td></tr>
	<tr>
		<th colspan="2">$i18n.getString( "name" )</th>
	</tr>
	<tr>
		<td><label for="firstName">$i18n.getString( "first_name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="firstName" name="firstName" maxlength="30" style="width:30em"></td>
	</tr>
	<tr>
		<td><label for="middleName">$i18n.getString( "middle_name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="middleName" name="middleName" maxlength="30" style="width:30em"></td>
	</tr>
	<tr>
		<td><label for="lastName">$i18n.getString( "last_name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="lastName" name="lastName" maxlength="30" style="width:30em"></td>
	</tr>	
	<tr><td>&nbsp;</td></tr>	
	<tr>
		<th colspan="2">$i18n.getString( "demographics" )</th>
	</tr>
		
	<tr>
		<td><label for="gender">$i18n.getString( "gender" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td>
			<select id="gender" name="gender" style="min-width:20em">
				<option value="M" selected="selected">$i18n.getString( "male" )</option>
				<option value="F">$i18n.getString( "female" )</option>
			</select>
		</td>					
	</tr>
	<tr>
		<td><label for="birthDate">$i18n.getString( "date_of_birth" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="birthDate" name="birthDate" style="width:30em">
			<img src="../images/calendar_icon.gif" width="16" height="16" id="getBirthDate" style="cursor: pointer;" title="$i18n.getString("date_selector")" onmouseover="this.style.background='orange';" onmouseout="this.style.background=''" alt="$i18n.getString( "date_of_birth" )"></td>
	</tr>
	<script type="text/javascript">
        Calendar.setup({
            inputField     :    "birthDate",      // id of the input field
            ifFormat       :    "$i18n.getString("format.date.label")",       // format of the input field
            button         :    "getBirthDate"   // trigger for the calendar (button ID)
        });
  	</script>
  	<tr><td>&nbsp;</td></tr>  	
  	
</table>


<p>
	<input type="submit" value="$i18n.getString( "add" )" style="width:10em">
	<input type="button" value="$i18n.getString( "cancel" )" onclick="window.location.href='individual.action'" style="width:10em">
</p>

</form> 	

<span id="message"></span>

<script type="text/javascript">
	
	var firstNameField = document.getElementById( 'firstName' );
	firstNameField.select();
	firstNameField.focus();

</script>		