
#parse( "/dhis-web-maintenance-patient/selectHouseHold.vm" )

#if( $houseHolds.size() > 0 )

<table class="mainPageTable">
  <tr>
    <td style="vertical-align:top">
    
      <table class="listTable">
          <col>          
          <col width="20">
          <col width="20">
          <col width="20">          		  
		  <tr>
		  	<td></td>
			<td colspan="3" style="text-align:right"><input type="button" value="$i18n.getString( "add_new" )" onclick="window.location.href='showAddHouseHoldForm.action'" style="width:70px"></td>
		  </tr>
          <tr>
            <th>$i18n.getString( "house_number" )</th>
            <th colspan="3">$i18n.getString( "operations" )</th>
          </tr>

          <tbody id="list">
            #set( $mark = false )
            #foreach( $houseHold in $houseHolds )
              <tr>
              
                <td#alternate( $mark )>$encoder.htmlEncode( $houseHold.houseNumber )</td>                
                
                <td style="text-align:center"#alternate( $mark )>
                  <a href="showUpdateHouseHoldForm.action?id=$houseHold.id" title="$i18n.getString( "edit" )"><img src="../images/edit.png" alt="$i18n.getString( "edit" )"></a>
                </td>                
 
                <td style="text-align:center"#alternate( $mark )>
                  <a href="javascript:removeHouseHold( '$houseHold.id', '$encoder.jsEncode( $houseHold.houseNumber )' )" title="$i18n.getString( "remove" )"><img src="../images/delete.png" alt="$i18n.getString( "remove" )"></a>
                </td>            
                
                <td style="text-align:center"#alternate( $mark )>
                  <a href="javascript:showHouseHoldDetails( $houseHold.id )" title="$i18n.getString( "show_details" )"><img src="../images/information.png" alt="$i18n.getString( "show_details" )"></a>
                </td>
                
              </tr>
			  #if( $mark )
				#set( $mark = false )
			  #else
				#set( $mark = true )
			  #end
            #end

          </tbody>

        </table>
    </td>
		<td style="width:20em; padding-left:2em; vertical-align:top">

			<div id="detailsArea" style="display:none">
				<div style="float:right">
					<a href="javascript:hideDetails()" title="$i18n.getString( "hide_details" )"><img src="../images/close.png" alt="$i18n.getString( "hide_details" )"></a>
				</div>				
				<p><label>$i18n.getString( "id" ):</label><br><span id="idField"></span></p>
				<p><label>$i18n.getString( "house_number" ):</label><br><span id="houseNumberField"></span></p>
				<p><label>$i18n.getString( "registering_unit" ):</label><br><span id="registeringUnitField"></span></p>
				<p><label>$i18n.getString( "address" ):</label><br><span id="addressField"></span></p>
				<p><label>$i18n.getString( "land_mark" ):</label><br><span id="landMarkField"></span></p>
				<p><label>$i18n.getString( "no_of_house_hold_members" ):</label><br><span id="memberCountField"></span></p>
			</div>

		</td>
  </tr>
</table>

#end

<script type="text/javascript">
	var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_house_hold" ) , "'" )';
	var i18n_adding_house_hold_failed = '$encoder.jsEscape( $i18n.getString( "adding_house_hold_failed" ), "'")';
	var i18n_updating_house_hold_failed = '$encoder.jsEscape( $i18n.getString( "updating_house_hold_failed" ), "'")';	
	var i18n_none = '$encoder.jsEscape( $i18n.getString( "none" ), "'")';
</script>
