
<h2>$i18n.getString( "patient_management" )&nbsp;</h2>
<ul>
	<li><a href="patient.action">$i18n.getString( "patient_management" )&nbsp;</a></li>		
	<li><a href="patientAttribute.action">$i18n.getString( "patient_attribute_management" )&nbsp;</a></li>
	<li><a href="relationshipType.action">$i18n.getString( "relationship_type_management" )&nbsp;</a></li>
</ul>

<h2>$i18n.getString( "program_management" )&nbsp;</h2>
<ul>
    <li><a href="program.action">$i18n.getString( "program_management" )&nbsp;</a></li>   
    <li><a href="programStage.action">$i18n.getString( "program_stage_management" )&nbsp;</a></li>
</ul>

<br>

