
<a href="index.action"><h2>$i18n.getString( "paitents_and_programs" )</h2></a>
<ul>
	<li><a href="patient.action">$i18n.getString( "patient_management" )</a></li>		
	<li><a href="patientAttribute.action">$i18n.getString( "patient_attribute_management" )&nbsp;</a></li>
</ul>

<br>
#parse( "/dhis-web-commons/ouwt/orgunittree.vm" )
