<?xml version="1.0" encoding="UTF-8"?>
<patient>
  #foreach( $patientIdentifier in $patient.identifiers )
    <identifier>$encoder.xmlEncode( $patientIdentifier.identifier )</identifier>
  #end
  <firstName>$encoder.xmlEncode( $patient.firstName )</firstName>
  <middleName>$encoder.xmlEncode( $patient.middleName )</middleName>
  <lastName>$encoder.xmlEncode( $patient.lastName )</lastName>  
  <gender>$encoder.xmlEncode( $patient.gender )</gender>
  <birthDate>$format.formatDate( $patient.birthDate )</birthDate>
  #foreach( $program in $patient.programs )
    <enrolledInProgram>$encoder.xmlEncode( $program.name )</enrolledInProgram>
  #end     
</patient>

