<?xml version="1.0" encoding="UTF-8"?>
<members>
#foreach ( $member in $members )
	<member>
		<id>$member.id</id>
		<firstName>$encoder.xmlEncode( $member.firstName )</firstName>
		<middleName>$encoder.xmlEncode( $member.middleName )</middleName>
		<lastName>$encoder.xmlEncode( $member.lastName )</lastName>		
	</member>
#end
</members>
