<?xml version="1.0" encoding="UTF-8"?>
<houseHold>
  <id>$houseHold.id</id>
  <houseNumber>$encoder.xmlEncode( $houseHold.houseNumber )</houseNumber>
  <registeringUnit>$encoder.xmlEncode( $houseHold.organisationUnit.shortName )</registeringUnit>
  <address>$encoder.xmlEncode( $houseHold.address )</address>
  <landMark>$encoder.xmlEncode( $houseHold.landMark )</landMark>
  <memberCount>$houseHold.members.size()</memberCount>
</houseHold>